<div class="related-content">
<h2>From this collection</h2>

<%#= render(:partial => 'blacklight_mlt/mlt', :collection => controller.send(:get_solr_response_for_field_values, 'ri_collection_ancestors_s', @document.fedora_object.uri, :rows => 3, :sort => "random_#{rand(9999)} asc").last, :as => :document ) %>

<div class="mlt">
<div class="thumbnail">
  <a href="/catalog/march-5301e9-march-highlights-2-of-2"><img alt="Preview" src="/system/thumbnails/march-5301e9-march-highlights-2-of-2/preview.jpg" &nbsp;=""></a>
</div>
<a href="/catalog/march-5301e9-march-highlights-2-of-2">March Highlights [2 of&nbsp;2]</a>
Highlights from the Educational Radio Network / ERN's coverage of the March on Washington for Jobs and Freedom.
</div>

</div>
