<div class="related-content">
<h2>From this collection</h2>
<p>This will show when indexed items have a field of collection_ancestors_tesim</p>
<%= controller.send(:get_solr_response_for_field_values, 'collection_ancestry_ssm', @collection.name, :rows => 3).inspect %>
<%= render(:partial => 'blacklight_mlt/mlt', :collection => controller.send(:get_solr_response_for_field_values, 'collection_ancestry_ssm', @collection.name, :rows => 3).last, :as => :document ) %>

<!-- <div class="mlt">
<div class="thumbnail">
  <a href="/catalog/march-5301e9-march-highlights-2-of-2"><img alt="Preview" src="/system/thumbnails/march-5301e9-march-highlights-2-of-2/preview.jpg" &nbsp;=""></a>
</div>
<a href="/catalog/march-5301e9-march-highlights-2-of-2">March Highlights [2 of&nbsp;2]</a>
Highlights from the Educational Radio Network / ERN's coverage of the March on Washington for Jobs and Freedom.
</div> -->

</div>
