<!-- THIS IS THE AUDIO ASSET TEMPLATE -->
<h3>This is a single audio page</h3>
<%= @document[:id] %>
<!-- <audio id="audio-mp3" class="video-js vjs-default-skin" 
  controls preload data-setup='{}'
  poster="http://video-js.zencoder.com/oceans-clip.png">
  <source src="http://localhost:3000/assets/test_audio.mp3" type="audio/mp3">
</audio> -->