language: ruby
sudo: false
cache: bundler
bundler_args: --without development
script: 'bundle exec rspec --tag ~not_on_travis'
rvm:
  - 2.0.0
before_script:
  - mysql -e 'create database ov_test;'
  - bundle exec rake dev:ci:prepare
  # Make sure we give jetty enough time to start up.
  - JETTY='http://127.0.0.1:8983'
  - for X in {1..1000}; do sleep 1; curl $JETTY && break; done
