<div id="collections">
	<%= link_to 'See all >', collections_path, :class => 'see_all' %>
	<div class="pagination">
	</div>
	<h2>Explore the collections</h2>
	<% @collections.each do |collection| %>
		<div class="carousel-entry document">
			<%= link_to image_tag(collection.image.url, :class => 'collection_image'), collection.url %>
		  <h3 class="title"><%= link_to collection.name, collection.url %></h3>
		  <p class="summary"><%= safe_truncate collection.summary, length: 400 %></p>
		</div>
	<% end %>
</div>