<% title "Open Vault - Editing Collection" %>
<div id="collection_edit_page" class="row-fluid">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <h2>Editing Collection</h2>

    <%= render 'form' %>
  </div>
  <div class="span2">&nbsp;</div>
</div>