/* line 50, mosaic/*.png */
.mosaic-sprite, .mosaic-ntw-mla000170-gus-solomans-performs-city-motion-space-game, .mosaic-tocn-mla000872-an-angry-crowd-gathers-at-south-boston-high-school-following-the-stabbing-of-a-student {
  background: url(/assets/mosaic-sf01a142a26.png) no-repeat;
}

/* line 60, ../../../../../../josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mosaic-ntw-mla000170-gus-solomans-performs-city-motion-space-game {
  background-position: 0 0;
}

/* line 60, ../../../../../../josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mosaic-tocn-mla000872-an-angry-crowd-gathers-at-south-boston-high-school-following-the-stabbing-of-a-student {
  background-position: 0 -42px;
}

/* line 10, ../../../app/assets/stylesheets/mosaic.css.scss */
.mosaic-item {
  text-indent: -3000px;
  height: 42px;
  width: 54px;
  display: block;
  float: left;
  margin-bottom: 1px;
  margin-right: 1px;
}
/* line 20, ../../../app/assets/stylesheets/mosaic.css.scss */
.mosaic-item:last-child {
  margin-right: 0px;
}
