/*
Syntax error: Undefined mixin 'replace-text-with-dimensions'.
        on line 235 of /Users/Shared/web-applications/openvault/app/assets/stylesheets/openvault.css.scss, in `replace-text-with-dimensions'
        from line 235 of /Users/Shared/web-applications/openvault/app/assets/stylesheets/openvault.css.scss

Backtrace:
/Users/Shared/web-applications/openvault/app/assets/stylesheets/openvault.css.scss:235:in `replace-text-with-dimensions'
/Users/Shared/web-applications/openvault/app/assets/stylesheets/openvault.css.scss:235
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/bin/compass:19:in `load'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/bin/compass:19:in `<main>'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `eval'
/Users/josh_wilcox/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'replace-text-with-dimensions'.\A         on line 235 of /Users/Shared/web-applications/openvault/app/assets/stylesheets/openvault.css.scss, in `replace-text-with-dimensions'\A         from line 235 of /Users/Shared/web-applications/openvault/app/assets/stylesheets/openvault.css.scss"; }
