<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello,<br />
      Thank you for your interest in the digitization of WGBH Open Vault artifact <%= link_to @artifact.title, "http://openvault.wgbh.org#{@artifact.asset_path}" %>.
    </p>

    <p>
      With Open Vault, we've added the ability to
      request digitization of transcripts, audio or video. If you agree to the pay
      the digitization fee and we're able to (rights pending), WGBH will make
      available the digitized audio, video and/or transcript for public access on the
      Open Vault website.
    </p>

    <p>
      If you would like to pay for the cost of digitizing, or would like more information, please email openvault@wgbh.org and we will then provide you
      with a more accurate estimation of what the cost will be.
    </p>

    <p>
      If you wish to withdraw your request for digitization of this asset,
      you may do so via your profile page on Open Vault. If we receive no
      response from you for more information regarding your requests within 30 days, the requests will be
      withdrawn from your profile.
    </p>

    <p>
      If you wish for information about licensing footage from a WGBH program please contact
      WGBH Stock Footage Sales at stock_sales@wgbh.org or 617-300-3939.
    </p>

    <p>
      If you wish to view WGBH material that is not available on Open Vault, you may schedule an appointment to visit the WGBH Media Library and Archives department in Boston, Massachusetts by emailing archive_requests@wgbh.org.
    </p>

    <p>
      Thank you for your interest in WGBH Open Vault. Please let us know if you
      have any questions.
    </p>

    <p>
      WGBH Media Library and Archives<br />
      openvault@wgbh.org<br />
      One Guest St.<br />
      Boston, MA 02135<br />
    </p>
  </body>
</html>