<article class="post-112 page type-page status-publish hentry" id="post-112">
  <header class="entry-header">
    <h1 class="entry-title">Credits: Open Vault Vietnam</h1>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p>The development of <a href="/collections/vietnam-the-vietnam-collection">Open Vault Vietnam</a> was funded by the Institute of Museum and Library Services (IMLS). Any views, findings, conclusions or recommendations expressed in this website do not necessarily represent those of the IMLS.</p>
    <p><a href="http://www.imls.gov/"><img width="156" height="60" alt="IMLS logo" src="http://openvault.wgbh.org/blog/wp-content/uploads/2010/04/IMLS.jpg" title="IMLS" class="alignnone size-full wp-image-113"></a></p>
    <h3>Project Management</h3>
    <p>Karen Cariani, Project Director<br>
      Karen Colbron, Project Manager</p>
    <h3>Content Production</h3>
    <p>Jeff Elias<br>
      Dov Frede<br>
      Courtney Michael<br>
      Lindsay Skay Whitacre</p>
    <h3>Business Manager</h3>
    <p>Paul Plutnicki</p>
    <h3>Web Production, Design, and Development &mdash; WGBH Interactive</h3>
    <p>Sarah Grafman, Producer<br>
      Chris Beer, Developer<br>
      Peter Pinch, Director of Technology<br>
      Li Wei, Senior Designer<br>
      Mayo Todorovic, Designer<br>
      Kim Ducharme, Associate Design Director<br>
      Heather Myers, QA<br>
      Malika Rajan, QA<br>
      Jim Barton, Business Operations Manager<br>
      Alan West, Director of Administration<br>
      Ron LaRussa, Director WGBH Interactive</p>
    <h3>WGBH Legal</h3>
    <p>Nike Okediji<br>
      Susan Rosen<br>
      Doug Ryan</p>
    <h3>With thanks to</h3>
    <p>ABC News VideoSource<br>
      CBS News<br>
      Steve Baldwin, National Boston<br>
      Ned Biddle, National Boston<br>
      Billy Stuart, National Boston<br>
      Dale Freeman, University of Massachusetts Boston<br>
      Elizabeth Mock, University of Massachusetts Boston<br>
      Frank Moretti, CCNMTL<br>
      Mark Phillipson, CCNMTL<br>
      Maria Janelli, CCNMTL<br>
      Jonah Bossewitch, CCNMTL</p>
    <h3>Special thanks to our&nbsp;colleagues in the Media Library and Archives</h3>
    <p>Nancy Dillon<br>
      Julie Ecker<br>
      Jill Goldberg<br>
      Keith Luf<br>
      Mike Muraszko<br>
      Leah Weisse</p>
  </div><!-- .entry-content -->
  <footer class="entry-meta">
  </footer><!-- .entry-meta -->
</article>