<article>
  <header>
    <h1>Open Vault Project Credits</h1>
  </header>

  <div>
    <p>The creation of Open Vault: WGBH Media Library and Archives Web site was made possible through a grant from the Institute of Museum and Library Services (IMLS). Any views, findings, conclusions or recommendations expressed in this website do not necessarily represent those of the IMLS.</p>
    <p><a href="http://www.imls.gov"><img width="156" height="60" src="/logos/IMLS.jpg" alt="IMLS logo" title="IMLS"></a></p>
    <p>The prototype website was funded in part by The John D. and Catherine T. MacArthur Foundation.</p>
    <p><a href="http://www.macfound.org"><img width="153" height="28" src="/logos/MacArthur.jpg" alt="MacArthur Foundation" title="MacArthur Foundation"></a></p>
    <p>The Institute of Museum and Library Services (IMLS) further funded the development of Open Vault in 2008, with the addition of the Vietnam Collection. Subsequent lessons learned from Open Vault Research, funded by The Andrew W. Mellon Foundation, helped inform the later design and functionality of Open Vault Vietnam.</p>
    <p>This website uses H264 pseudo video streaming technology by&nbsp;<a href="http://h264.code-shop.com/">&#8203;CodeShop</a>.</p>
    <h2>Project Credits</h2>
    <p><a href="/credits/credits-open-vault-vietnam">Open Vault Vietnam</a><br>
      <a href="/credits/credits-open-vault-research">Open Vault Research</a><br>
      <a href="/credits/credits-open-vault">Open Vault</a><br>
      <a href="/credits/credits-ton">Ten O’Clock News</a><br>
      <a href="/credits/credits-say-brother/">Say Brother</a><br>
      <a href="/credits/credits-ntw">New Television Workshop</a><br>
      <a href="/credits/credits-open-vault-wpna/">War and Peace in the Nuclear Age</a></p>
  </div>
  <footer>
  </footer>
</article>