<article class="post-123 page type-page status-publish hentry" id="post-123">
  <header class="entry-header">
    <h1 class="entry-title">Credits: Say Brother</h1>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p><a href="/collections/sbro-say-brother">The Say Brother Collection</a> web site was made possible though a grant from the National Endowment for the Humanities. However, all content on this site is the intellectual property of the WGBH Educational Foundation, which is solely responsible for this work.</p>
    <h3>Media Library &amp; Archives</h3>
    <p>Project Archivist: Emily R. Novak<br>
      Grant Supervisor: Mary Ide<br>
      Grant Consultant: Sarah-Ann Shaw<br>
      Preservation Supervisor: Scott Turner<br>
      FileMaker Implementation and HTML Export: Thom Shepard</p>
    <h3>WGBH Interactive</h3>
    <p>Web Site Producer: Caitlin O’Neil<br>
      Interactive Designer: Tyler Howe<br>
      Developer: Molly Frey<br>
      Technical Oversight: Kevin Carter and Dave MacCarn<br>
      Web Rights and Clearance: Julie Ecker</p>
    <h3>With special thanks to</h3>
    <p>Selene Colburn<br>
      Lacey Dean<br>
      Jim Deering<br>
      Cynthia Johnson<br>
      Keith Luf<br>
      Lauren Marano<br>
      Christopher McNeice<br>
      Courtney Michael<br>
      Jane Pikor<br>
      Jonathan Pipe<br>
      Marita Rivero, VP<br>
      Anya Vinokour<br>
      Leah Weisse<br>
      Archives interns Christina Finneran, Dawn Marsh, Jenny Smilovitz<br>
      The Winthrop Group, Inc.<br>
      The staffs of WGBH’s Basic Black and Production Services</p>
  </div><!-- .entry-content -->
  <footer class="entry-meta">
  </footer><!-- .entry-meta -->
</article>