<article class="post-129 page type-page status-publish hentry" id="post-129">
  <header class="entry-header">
    <h1 class="entry-title">Credits: Open Vault Research</h1>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p>Funded by The Andrew W. Mellon Foundation, the WGBH Media Library &amp; Archives Digital Library Project has completed two phases. In the first phase, WGBH conducted an assessment of the value of our archival collections for scholarly use. In the second phase, “Developing a Public Television Content Delivery System for Academic Institutions,” WGBH developed Open Vault Research.  Designed in close collaboration with scholars, this  prototype web site facilitates research access to the collections. Further, working with Ithaka S+R, we investigated the sustainability of online archives for academic use. Beyond Open Vault Research, lessons from both Phase One and Phase Two of the Digital Library Project also informed the design and development of Open Vault Vietnam.</p>
    <h3>Principal Investigators</h3>
    <p>Karen Cariani<br>
      Director, WGBH Media Library and Archives </p>
    <p>Peter Pinch<br>
      Director of Technology, WGBH Interactive</p>
    <h3>Advisors</h3>
    <p>John W. Dower<br>
      Ford International Professor of History<br>
      Massachusetts Institute of Technology</p>
    <p>James Blight and Janet Lang<br>
      Watson Institute for International Studies<br>
      Brown University</p>
    <p>Peter Winn<br>
      Professor of History<br>
      Tufts University</p>
    <h3>Project Team</h3>
    <p>Courtney Michael, Project Manager<br>
      Chris Beer, Developer<br>
      Mayo Todorovic, Designer<br>
      Jim Barton, Business Manager<br>
      Paul Plutnicki, Business Manager<br>
      <a href="http://openvault.wgbh.org/blog/wp-content/uploads/2010/04/ithaka.jpg"><img width="285" height="120" class="alignright size-full wp-image-130" title="Ithaka" alt="Ithaka" src="http://openvault.wgbh.org/blog/wp-content/uploads/2010/04/ithaka.jpg"></a></p>
    <h3>Sustainability Research</h3>
    <h4>Ithaka S + R</h4>
    <p>Laura Brown<br>
      Kirby Smith<br>
      Matthew Loy</p>
    <h3>Legal Research</h3>
    <p>Jill Goldberg</p>
    <h3>Production Assistance</h3>
    <p>Michael Delia<br>
      Jeffrey Elias<br>
      Michael Murasko<br>
      Leah Weisse</p>
    <h3>Encoding</h3>
    <p>Jon Alper</p>
    <h3>Special Thanks to</h3>
    <p>Marisa Castrini<br>
      Karen Colbron<br>
      Nancy Dillon<br>
      Kim Ducharme<br>
      Dov Frede<br>
      Sarah Grafman<br>
      Philip Landry<br>
      Keith Luf<br>
      Christopher McNeice<br>
      Shigeru Miyagawa<br>
      Michael Steadman</p>
  </div><!-- .entry-content -->
  <footer class="entry-meta">
  </footer><!-- .entry-meta -->
</article>