<article>
  <header>
    <h1>Credits: Open Vault War and Peace in the Nuclear Age</h1>
  </header>

  <div>
    <p><a href="/catalog/wpna-wpna-war-and-peace-in-the-nuclear-age">This Collection</a> has been made possible in part by a major grant from the National Endowment for the Humanities: Exploring the human endeavor.</p>
    <p><b><a href="http://www.neh.gov/"><img width="208" height="51" src="/logos/neh_logo_horizontal_small.png" alt="neh_logo_horizontal_small"></a></b></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><b>&nbsp;</b></p>
    <h3>PROJECT MANAGEMENT</h3>
    <p>Karen Cariani, Project Director<br>
      Karen Colbron, Project Consultant<br>
      Keith Luf, Project Manager</p>
    <h3>CONTENT PRODUCTION</h3>
    <p>Peter Higgins<br>
      Lynn Mason<br>
      Michael Muraszko<br>
      Sadie Roosa<br>
      Alison Smith<br>
      Leah Weisse</p>
    <h3>BUSINESS MANAGERS</h3>
    <p>Nicholas Pollard<br>
      Paul Plutnicki</p>
    <h3>WEB PRODUCTION</h3>
    <p>Kevin Carter<br>
      Andrew Myers<br>
      Michael Steadman</p>
    <h3>ADVISOR</h3>
    <p>Malcolm Byrne, Deputy Director and Director of Research, National Security Archive</p>
    <h3>LEGAL</h3>
    <p>Julie Ecker<br>
      Susan Rosen<br>
      Kate Van Slate</p>
    <h3>INTERNS</h3>
    <p>Alyda Porter<br>
      Bruce Vencill</p>
  </div>
  <footer>
  </footer>
</article>