<article class="post-70 page type-page status-publish hentry" id="post-70">
  <header class="entry-header">
    <h1 class="entry-title">Credits: Open Vault</h1>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p>The creation of Open Vault: WGBH Media Library and Archives Web site was made possible through a grant from the Institute of Museum and Library Services (IMLS). Any views, findings, conclusions or recommendations expressed in this website do not necessarily represent those of the IMLS.</p>
    <p><a href="http://www.imls.gov/"><img width="156" height="60" class="alignnone size-full wp-image-113" title="IMLS" alt="IMLS logo" src="/logos/IMLS.jpg"></a></p>
    <p>The website was funded in part by The John D. and Catherine T. MacArthur Foundation.</p>
    <p><a href="http://www.macfound.org"><img width="153" height="28" class="alignnone size-full wp-image-117" title="MacArthur Foundation" alt="MacArthur Foundation" src="/logos/MacArthur.jpg"></a></p>
    <h4>This site brings together materials from three previous web sites</h4>
    <ul>
      <li><a href="/collections/ntw-the-new-television-workshop">New Television Workshop</a></li>
      <li><a href="/collections/sbro-say-brother">Say Brother</a></li>
      <li><a href="/collections/tocn-the-ten-o-clock-news">Ten O’Clock News</a></li>
    </ul>
    <h4>As well as new material from:</h4>
    <ul>
      <li><a href="/collections/wpna-wpna-war-and-peace-in-the-nuclear-age">War and Peace in the Nuclear Age</a></li>
      <li><a href="/collections/vietnam-the-vietnam-collection">Vietnam: A Television History.</a></li>
    </ul>
    <p>Major funding for <em>War and Peace in the Nuclear Age</em> was provided by the Annenberg/CPB Project.</p>
    <p>All content on this site is the intellectual property of WGBH Educational Foundation, which is solely responsible for this work.</p>
    <h3>Project Management</h3>
    <p>Karen Cariani, Project Director<br>
      Karen Colbron, Project Manager</p>
    <h3>Business Manager</h3>
    <p>Paul Plutnicki</p>
    <h3>Content Production</h3>
    <p>Helen Brady, Production Assistant<br>
      Susan Levene, Content Producer</p>
    <h3>Copyeditor</h3>
    <p>Eleanor Beram</p>
    <h3>Web Production, Design, and Development &mdash; WGBH Interactive</h3>
    <p>Keren Shomer, Producer<br>
      Mayo Todorovic, Designer<br>
      Mitch Smith, Developer<br>
      Jamie Biggar, Senior Developer<br>
      Peter Pinch, Director of Technology<br>
      Jon Alper, Director of Technology, Video encoding<br>
      Toby Bottorf, Director of Design<br>
      Jim Barton, Business Operations Manager</p>
    <h3>With thanks to</h3>
    <p>Steve Baldwin, National Boston<br>
      Ned Biddle, National Boston<br>
      Kevin Carter, technical advisor, WGBH<br>
      Nancy Dillon, library manager, WGBH<br>
      Dale Freeman, assistant archivist, Archives and Special Collections Department, Healey Library, University of Massachusetts at Boston<br>
      Elizabeth Mock, librarian, Archives and Special Collections Department, Healey Library, University of Massachusetts at Boston</p>
    <h3>Special thanks to our friends and colleagues in Archives:</h3>
    <p>Jordan Berson<br>
      Mary Ide<br>
      Keith Luf<br>
      Jonathan Pipe<br>
      Leah Weisse</p>
  </div><!-- .entry-content -->
  <footer class="entry-meta">
  </footer><!-- .entry-meta -->
</article>