<table width='100%' class="asset-table"><tr>
  <% assets.in_groups(2,false) do |group| %>
    <td><ul>
      <% group.each do |asset|  %>
        <li>
          <a href="<%= catalog_path(asset) %>"><%= 
            "#{asset.episode}: " if asset.episode && asset.episode != 0  
          %><%= asset.title %></a>
        </li>
      <% end %>
    </ul></td>
  <% end %>
</tr></table>