<div>
  <%= render layout: 'override/partials/header', 
             locals: { title: 'March on Washington', wp_img: '2014/10/Exhibit_MoW.jpg' } do %>
    <p>The 1963 March on Washington for Jobs and Freedom featured an estimated 250,000 peaceful demonstrators walking from the Washington Monument to the Lincoln Memorial to hear a political call to arms for economic equality and civil rights for African Americans. Credited with being the final impetus to the passing of the 1964 Civil Rights Act, the event famously ended with Martin Luther King Jr.’s historic “I have a dream” speech.</p>
  <% end %>
  
  <% content_for :coverage do %>
    TODO: coverage
  <% end %>
    
  <% content_for :revisiting do %>
    TODO: revisiting
  <% end %>
    
  <% content_for :photographs do %>
    TODO: photographs
  <% end %>
    
  <%= render partial: 'global_partials/tabs', locals: { 
      tabs: [
        { title: "ERN's Coverage", content: content_for(:coverage) },
        { title: "Revisiting the March on Washington", content: content_for(:revisiting) },
        { title: "Photographs", content: content_for(:photographs) }]
    } %>
  
  <hr>
  <div>
    <h3>Related links</h3>
    <ul>
      <li><a target="_blank" href="http://www.pbs.org/wgbh/amex/eyesontheprize/">American Experience:&nbsp;<em>Eyes on the Prize</em></a></li>
      <li><a target="_blank" href="http://library.wustl.edu/units/spec/filmandmedia/">Washington University Film and Media Archive</a></li>
      <li><a target="_blank" href="http://crdl.usg.edu/">Civil Rights Digital Library</a></li>
      <li><a target="_blank" href="http://www.teachersdomain.org/special/civil/">Teachers' Domain: Civil Rights</a></li>
    </ul>

  </div>
  <div>
    <p>This project is supported in part by Save America's Treasures through a partnership between the National Endowment for the Arts and the National Park Service, Department of the Interior</p>
    <p><img src="/logos/logo_nea.jpg" alt="" style="border: 1px solid #999;"></p>

  </div>
</div>