<% title "#{application_name} - #{title}" %>
<div class="document_heading">
  <h1><%= title %></h1>
</div>

<div class="tools">
  <ul class="tools">
    <li class="share">
      <%= render partial: 'global_partials/share' %>
    </li>
  </ul>
</div>

<img src="http://blog.openvault.wgbh.org/wp-content/uploads/<%= wp_img %> " 
     class="pull-left" 
     alt="<%= title %>">
  