<div class="document">
  <%= render partial: 'override/partials/header', locals: { title: 'The Advocates' } %>

  <abbr title="advocates-advocates" class="unapi-id"></abbr>

  <a href="/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info%3Afedora%2Forg.wgbh.mla%3Aadvocates"><img src="http://openvault.wgbh.org/blog/wp-content/uploads/2012/10/TheAdvocates.jpg" class="featured_image" alt="Theadvocates"></a>
  <div class="content">
    <p>A series of debates with a moderator facilitating the discussion of national and international issues &ndash; using advocates who would introduce witnesses to support their point of view. Debates recorded at Boston’s Faneuil Hall. Moderators included: Michael Dukakis; Marilyn Berger; Michael Harrington, Robert Maynard. (Premiered October, 1969; conceived by Prof. Roger Fisher.)</p>
    <p>&nbsp;</p>

  </div>

  <hr>
  <div class="collection-links">
    <h3>Search within this collection</h3>
    <ul>
      <li><a href="http://openvault.wgbh.org/catalog?f[ri_collection_ancestors_s][]=info:fedora/org.wgbh.mla:advocates" title="All materials from &quot;The Advocates&quot;">All materials</a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f[ri_collection_ancestors_s][]=info:fedora/org.wgbh.mla:advocates&amp;f[media_s][]=Video" title="All video from &quot;The Advocates&quot;">All video</a></li>
    </ul>

  </div>
  <hr>
  <div class="related-links">
    <h3>Related links</h3>
    <ul>
      <li title="http://www.apdaweb.org"><a href="http://www.apdaweb.org" title="http://www.apdaweb.org">American Parliamentary Debate Association</a></li>
      <li><a href="http://idebate.org" title="http://idebate.org/">IDEA</a></li>
      <li><a href="http://www.nmun.org" title="http://www.nmun.org">Model UN</a></li>
      <li><a href="http://groups.wfu.edu/NDT" title="http://groups.wfu.edu/NDT">National Debate Tournament</a></li>
      <li><a href="http://www.nationalforensicleague.org" title="http://www.nationalforensicleague.org">National Forensic League</a></li>
    </ul>
  </div>
  <div class="funders">
    <p><strong>Supported by a grant from the Open Society Foundations</strong>.</p>
  </div>
</div>