<div>
  <%= render layout: 'override/partials/header', 
             locals: { title: 'The Advocates', wp_img: '2014/10/Exhibit_Advocates.jpg' }  do %>
    <p>A series of debates with a moderator facilitating the discussion of national and international issues &ndash; using advocates who would introduce witnesses to support their point of view. Debates recorded at Boston’s Faneuil Hall. Moderators included: Michael Dukakis; Marilyn Berger; Michael Harrington, Robert Maynard. (Premiered October, 1969; conceived by Prof. Roger Fisher.)</p>
  <% end %>
    
  <% content_for :video do %> TODO: list all video <% end %>
  <% content_for :non_video do %> TODO: list all non-video <% end %>
  <%#= render partial: 'global_partials/tabs', locals: { tabs: [
    { title: 'Video', content: content_for(:video) },
    { title: 'Non-Video', content: content_for(:non_video) }
  ] } %>
    
  <div>
    <h3>Related links</h3>
    <ul>
      <li title="http://www.apdaweb.org"><a href="http://www.apdaweb.org" title="http://www.apdaweb.org">American Parliamentary Debate Association</a></li>
      <li><a href="http://idebate.org" title="http://idebate.org/">IDEA</a></li>
      <li><a href="http://www.nmun.org" title="http://www.nmun.org">Model UN</a></li>
      <li><a href="http://groups.wfu.edu/NDT" title="http://groups.wfu.edu/NDT">National Debate Tournament</a></li>
      <li><a href="http://www.nationalforensicleague.org" title="http://www.nationalforensicleague.org">National Forensic League</a></li>
    </ul>
  </div>
  <div>
    <p><strong>Supported by a grant from the Open Society Foundations</strong>.</p>
  </div>
</div>