<div>
  <%= render layout: 'override/partials/header', 
             locals: { title: 'Press and the People', wp_img: '2014/10/Exhibit_Press_People.jpg' } do %>
    <p>Groundbreaking in concept, Press and the People was one of the first series to explore how newspaper and television reporters covered key events in the 1950s, and how that shaped public opinion and knowledge on issues such as the nuclear weapons, the Berlin Crisis and secrecy in the government. Hosted by Louis Lyons, the first television newscaster at WGBH, Press and the People brought together esteemed journalists such as Edward R. Murrow, Eric Sevareid and Martin Agronsky to discuss their role in the creation and dissemination of current events.</p>
  <% end %>

  <% content_for :content do %> TODO: list all content <% end %>
  <%= render partial: 'global_partials/tabs', locals: { tabs: [
    { title: 'Content', content: content_for(:content) }
  ] } %>
    
  <div>
    <h3>Related links</h3>
    <ul>
      <li><a target="_blank" href="http://www.library.umass.edu/spcoll/umarmot/?p=281">Louis Martin Lyons papers</a></li>
      <li><a target="_blank" href="https://wikis.uit.tufts.edu/confluence/display/MurrowCollection/Home">Edward R. Murrow collection</a></li>
      <li><a target="_blank" href="http://www.newseum.org/">Newseum</a></li>
    </ul>

  </div>
  <div>

  </div>
</div>