<div>
  <%= render partial: 'override/partials/header', locals: { title: 'Press and the People' } %>
  
  <abbr title="prpe-press-and-the-people"></abbr>


  <a href="/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info%3Afedora%2Forg.wgbh.mla%3Aprpe"><img src="http://blog.openvault.wgbh.org/wp-content/uploads/2011/05/pp_i.jpeg"  alt="Pp_i"></a>
  <div>
    <h1>Press and the People</h1>
    <p>Groundbreaking in concept, Press and the People was one of the first series to explore how newspaper and television reporters covered key events in the 1950s, and how that shaped public opinion and knowledge on issues such as the nuclear weapons, the Berlin Crisis and secrecy in the government. Hosted by Louis Lyons, the first television newscaster at WGBH, Press and the People brought together esteemed journalists such as Edward R. Murrow, Eric Sevareid and Martin Agronsky to discuss their role in the creation and dissemination of current events.</p>
    <h3><span style="font-size: xx-small;"><span style="line-height: 26px;"><br>
        </span></span></h3>

  </div>

  <hr>
  <div>
    <h3>Search within this collection</h3>
    <ul>
      <li><a href="http://openvault.wgbh.org/catalog?f[ri_collection_ancestors_s][]=info:fedora/org.wgbh.mla:prpe">Search all materials from this collection</a></li>
    </ul>

  </div>
  <hr>
  <div>
    <h3>Related links</h3>
    <ul>
      <li><a target="_blank" href="http://www.library.umass.edu/spcoll/umarmot/?p=281">Louis Martin Lyons papers</a></li>
      <li><a target="_blank" href="https://wikis.uit.tufts.edu/confluence/display/MurrowCollection/Home">Edward R. Murrow collection</a></li>
      <li><a target="_blank" href="http://www.newseum.org/">Newseum</a></li>
    </ul>

  </div>
  <div>

  </div>
</div>