<div class="document">
  <%= render partial: 'override/partials/header', locals: { title: "The Ten O'Clock News" } %>
  
  <abbr title="tocn-the-ten-o-clock-news" class="unapi-id"></abbr>


  <a href="/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info%3Afedora%2Forg.wgbh.mla%3Atocn"><img src="http://openvault.wgbh.org/blog/wp-content/uploads/2011/05/ten_i.gif" class="featured_image" alt="Ten_i"></a>
  <div class="content">
    <h1>Ten O’Clock News</h1>
    <p><em>The Ten O’Clock News</em>&nbsp;was a nightly news program produced and broadcast by WGBH. A local program aimed at the Boston audience,<em>The Ten O’Clock News</em>&nbsp;debuted on January 15, 1976. WGBH Media Library and Archives has preserved and described 523 tapes from<em>The Ten O’Clock News</em>, and its precursors,&nbsp;<em>The Reporters</em>&nbsp;and&nbsp;<em>Evening Compass</em>. Dating from 1974 to 1991, this collection focuses on news stories relating to Boston’s African American community. This project was funded by the&nbsp;<a target="_blank" href="http://www.imls.gov/index.shtm">Institute of Museum and Library Services.</a></p>

  </div>

  <hr>
  <div class="collection-links">
    <p><strong>Search within this collection</strong></p>
    <ul>
      <li><a href="http://openvault.wgbh.org/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info:fedora/org.wgbh.mla:tocn">All materials</a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f%5Bpbcore_pbcoreTitle_series_s%5D%5B%5D=Evening+Compass%2C+The">Series: Evening Compass</a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f%5Bpbcore_pbcoreTitle_series_s%5D%5B%5D=The+Ten+O%27Clock+News">Series: The Ten O'Clock News</a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info:fedora/org.wgbh.mla:tocn&amp;f%5Btopic_cv%5D%5B%5D=Busing+for+school+integration--Massachusetts--Boston--History">Desegregation / Busing for school integration</a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info:fedora/org.wgbh.mla:sbro&amp;f%5Btopic_cv%5D%5B%5D=Civil%20rights">Civil Rights</a></li>
    </ul>

  </div>
  <hr>
  <div class="related-links">
    <p><strong>Related Links</strong></p>
    <ul>
      <li><a target="_blank" href="http://bostonlocaltv.org/wgbh">The Ten O'Clock News on Boston TV News Digital Library</a></li>
      <li><a target="_blank" href="http://main.wgbh.org/ton">The Ten O'Clock News Finding Aid</a></li>
      <li><a target="_blank" href="http://main.wgbh.org/ton/collection_history.html">A History of the Ten O'Clock News</a></li>
      <li><a target="_blank" href="http://tvnews.vanderbilt.edu/">Vanderbilt Television News Archive</a></li>
    </ul>

  </div>
  <div class="funders">
    <p><strong>Major funding provided by the <em>Institute for Museum and Library Services</em></strong><br><img alt="" src="http://openvault.wgbh.org/media/collections/logo_iml.png"></p>
    <p><a href="/blog/credits-ton">Credits</a></p>
  </div>
</div>