<div class="document">
  <%= render partial: 'override/partials/header', locals: { title: 'War and Peace in the Nuclear Age' } %>
  
  <abbr title="wpna-wpna-war-and-peace-in-the-nuclear-age" class="unapi-id"></abbr>


  <a href="/catalog?f%5Bri_collection_ancestors_s%5D%5B%5D=info%3Afedora%2Forg.wgbh.mla%3Awpna"><img src="http://openvault.wgbh.org/blog/wp-content/uploads/2011/05/wpna_i.jpeg" class="featured_image" alt="Wpna_i"></a>
  <div class="content">
    <h1>War and Peace in the Nuclear Age</h1>
    <p>War and Peace in the Nuclear Age, first broadcast in 1989, is a thirteen-part PBS series on the origins and evolution of nuclear competition between the United States and the former Soviet Union. The series examined the rivalry for power and how it shaped the diplomacy, negotiation, ethical debates, and doctrine of deterrence that ran through the forty-year history of the nuclear age. This collection contains the full interviews and selected stock footage from the series. &nbsp;If you would like to view the full War and Peace in the Nuclear Age episodes you may schedule an appointment at WGBH in Boston by contacting the WGBH Media Library and Archives.</p>

  </div>

  <hr>
  <div class="collection-links">
    <h3>Search within this collection</h3>
    <ul>
      <li><a href="http://openvault.wgbh.org/catalog?f[ri_collection_ancestors_s][]=info:fedora/org.wgbh.mla:wpna">All materials </a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f[ri_collection_ancestors_s][]=info:fedora/org.wgbh.mla:wpna&amp;f[media_s][]=Transcript">All interviews</a></li>
      <li><a href="http://openvault.wgbh.org/catalog?f%5Bdc_type_s%5D%5B%5D=Stock+footage&amp;f%5Bri_collection_ancestors_s%5D%5B%5D=info%3Afedora%2Forg.wgbh.mla%3Awpna">All stock footage</a></li>
      <li><a href="/lists/wpna-interview-list">List of interviews</a></li>
    </ul>

  </div>
  <hr>
  <div class="related-links">
    <h3>Related links</h3>
    <ul>
      <li><a target="_blank" href="http://www.wilsoncenter.org/index.cfm?fuseaction=topics.home&amp;topic_id=1409">Cold War International History Project</a></li>
      <li><a target="_blank" href="http://www.gwu.edu/~nsarchiv/index.html">The National Security Archive at George Washington University</a></li>
      <li><a target="_blank" href="http://digital.library.unlv.edu/ntsohp/">The Nevada Test Site Oral History Project at the University of Nevada, Las Vegas</a></li>
    </ul>

  </div>
  <div class="funders">
    <h3>Major funding provided by the National Endowment for the Humanities</h3>
    <h3><a href="http://www.neh.gov/"><img width="208" height="51" src="http://openvault.wgbh.org/blog/wp-content/uploads/2011/05/neh_logo_horizontal_small.png" alt="neh_logo_horizontal_small" class="alignleft size-full wp-image-1541"></a></h3>
    <h3>Additional funding provided by the Institute of Museum and Library Services</h3>
    <p><a target="_blank" href="http://www.imls.gov/index.shtm"><img src="http://openvault.wgbh.org/media/collections/logo_iml.png" alt=""></a></p>
    <h3>THANKS TO</h3>
    <ul>
      <li>Poster Artwork Courtesy of&nbsp;<a target="_blank" href="http://www.jansawka.com/">Jan Sawka, 1988</a></li>
    </ul>
    <p><a href="/credits/credits-open-vault-wpna">Credits</a></p>
  </div>
</div>