<div class='override'>
  <%= render layout: 'exhibits/header',
             locals: { title: 'The New Television Workshop', wp_img: '2011/05/ntw_i.jpeg' } do %>
    <p>The New Television Workshop at WGBH supported the creation and broadcast of experimental works by artists from 1974 to 1993. The New Television Workshop Collection was preserved, arranged, and described by the WGBH Media Library and Archives with support from the National Endowment for the Arts (Grant # A 96 &ndash; 019016). Materials in the collection include videos from the New Television Workshop, as well as early video arts works that pre-dated organization of the New Television Workshop and ancillary but related video art works produced by WGBH.</p>
  <% end %>

  <% cache('ntw-the-new-television-workshop-tabs') do %>
    <%= render partial: 'global_partials/tabs', locals: { 
      tabs: [
        { title: 'Complete Collection', content: render(partial: 'global_partials/multicolumn_links_list', locals: {links: @complete_collection_links}) },
        { title: 'Artist\'s Showcase', content: render(partial: 'global_partials/multicolumn_links_list', locals: {links: @artists_showcase_links}) },
        { title: 'Frames of Reference', content: render(partial: 'global_partials/multicolumn_links_list', locals: {links: @frames_of_reference_links}) }
      ]
    } %> 
  <% end %>
    
  <div>
    <h3>Related links</h3>
    <ul>
      <li><a target="_blank" href="http://main.wgbh.org/wgbh/NTW/FA/index.html">New Television Workshop Finding Aid</a></li>
      <li><a target="_blank" href="http://main.wgbh.org/wgbh/NTW/ES/index.html">New Television Workshop Exhibit Space</a></li>
      <li><a target="_blank" href="http://forum-network.org/lectures/history-experimental-video-boston/">Learn about the influence of NTW on experimental art</a></li>
    </ul>

  </div>
  <div>
    <h3>Funding provided by The National Endowment for the Arts</h3>
    <p><a target="_blank" href="http://www.nea.gov/"><img alt="" src="/logos/logo_nea.jpg"></a></p>

  </div>
</div>