<div id="users_show_actions">
  <ul class="list-inline">
    <li>
      <%= link_to "#{glyphicon('pencil')} Edit Profile".html_safe, edit_user_registration_path, title: "Edit Profile", class: 'btn btn-default' %>
    </li>
  </ul>
</div>