<div id="users_show_actions">
  <ul class="list-inline">
    <li>
      <%= link_to edit_user_registration_path, title: "Edit Profile", class: 'btn btn-default' do %>
        <%= glyphicon('pencil') %> Edit Profile 
      <% end %>
    </li>
  </ul>
</div>