<div id="users_show_actions">
  <ul class="list-inline">
    <li>
      <%= link_to "#{glyphicon('pencil')} Edit Profile".html_safe, "/users/edit", title: "Edit Profile", class: 'btn btn-default' %>
    </li>
  </ul>
</div>