<% @users.each do |user| %>
<div class="user_block">
  <h3><%= link_to user.full_name, user.url %></h3>
  <p><%= truncate(user.bio, :length => 100) %></p>
  <p><%= pluralize(user.custom_collections.length, 'custom collection') %></p>
</div>
<% end %>