<div class="mlt grainbox">
  <div class="doc_thumbnail">
    <%#= link_to_document document, :label=>(image_tag(document[:thumbnail_url]).html_safe unless document[:thumbnail].nil?) %>
  </div>
  <%= link_to_document document, label: display_title(document) %>
  <%= truncate(render_document_show_field_value(:document => document, :field => 'summary_ssm'), :length => 300, :separator => '. ') #.html_safe TODO: this file should be purged %>
</div>
