<article>
  <header>
    <h1><a href="/catalog/wpna-wpna-war-and-peace-in-the-nuclear-age">War and Peace in the Nuclear Age</a>: Interview List</h1>
  </header>

  <div>
    <div style="width:40%;padding:0 10pt 0 0;float:left;"><a href="/catalog/wpna-b6b301-interview-with-david-aaron-1986"><b>Aaron, David</b></a><b><br>
        <a href="/catalog/wpna-bdd52a-interview-with-james-abrahamson-1987">Abrahamson, James A.</a><br>
        <a href="/catalog/wpna-2ab613-interview-with-kenneth-adelman-1987">Adelman, Kenneth L. (Kenneth Lee)</a><br>
        <a href="/catalog/wpna-e15b25-interview-with-aleksei-adzhubei-1986">Adzhubei, Aleksei</a><br>
        <a href="/catalog/wpna-b3f0ab-interview-with-a-i-akram-1987">Akram, A. I.</a><br>
        <a href="/catalog/wpna-7dbe0d-interview-with-a-i-aleksandr-ivanovich-alekseev-1986">Alekseev, A. I. (Aleksandr Ivanovich)</a><br>
        <a href="/catalog/wpna-5b1752-interview-with-lew-allen-1987">Allen, Lew</a><br>
        <a href="/catalog/wpna-4081c0-interview-with-royal-bertram-allison-1986">Allison, Royal Bertram</a><br>
        <a href="/catalog/wpna-13a47e-interview-with-arnie-alpert-1987">Alpert, Arnie</a><br>
        <a href="/catalog/wpna-c59632-interview-with-joseph-alsop-1986">Alsop, Joseph</a><br>
        <a href="/catalog/wpna-87e3f3-interview-with-george-anderson-1986">Anderson, George Whelan</a><br>
        <a href="/catalog/wpna-8d43a2-interview-with-hans-apel-1987">Apel, Hans</a><br>
        <a href="/catalog/wpna-cdb9c0-interview-with-alexei-arbatov-1987">Arbatov, Alekseĭ Georgievich</a><br>
        <a href="/catalog/wpna-c592af-interview-with-gordon-arneson-1986">Arneson, Gordon</a><br>
        <a href="/catalog/wpna-3e216d-interview-with-les-aspin-1987">Aspin, Les</a><br>
        <a href="/catalog/wpna-c2991f-interview-with-marvin-atkins-1987">Atkins, Marvin</a><br>
        <a href="/catalog/wpna-30af4c-interview-with-les-aucoin-1987">AuCoin, Les</a><br>
        <a href="/catalog/wpna-571585-interview-with-egon-bahr-1987">Bahr, Egon</a><br>
        <a href="/catalog/wpna-667691-interview-with-george-ball-1986">Ball, George</a><br>
        <a href="/catalog/wpna-f1af74-interview-with-charles-banta-1987">Banta, Charles</a><br>
        <a href="/catalog/wpna-d674de-interview-with-william-barletta-1987">Barletta, W. A. (William A.)</a><br>
        <a href="/catalog/wpna-46c3a1-interview-with-heli-batenin-1987">Batenin, Heli</a><br>
        <a href="/catalog/wpna-4baaa8-interview-with-wolf-graf-von-baudissin-1986">Baudissin, Wolf, Graf von</a><br>
        <a href="/catalog/wpna-893ff8-interview-with-valentin-berezhkov-1986-1">Berezhkov, V. M. (Valentin Mikhaĭlovich) [1]</a><br>
        <a href="/catalog/wpna-64667d-interview-with-valentin-berezhkov-1986-2">Berezhkov, V. M. (Valentin Mikhaĭlovich) [2]</a><br>
        <a href="/catalog/wpna-76629a-interview-with-hans-bethe-1986-1">Bethe, Hans A. (Hans Albrecht) [1]</a><br>
        <a href="/catalog/wpna-fce143-interview-with-hans-bethe-1986-2">Bethe, Hans A. (Hans Albrecht) [2]</a><br>
        <a href="/catalog/wpna-a945f5-interview-with-vladimir-bogachev-1986">Bogachev, Vladimir</a><br>
        <a href="/catalog/wpna-015ff1-interview-with-aleksandr-evgenevich-bovin-1986">Bovin, Aleksandr Evgenevich</a><br>
        <a href="/catalog/wpna-e8fb47-interview-with-robert-bowie-1987">Bowie, Robert R. (Robert Richardson) [1]</a><br>
        <a href="/catalog/wpna-c9ed7c-interview-with-robert-bowie-1986">Bowie, Robert R. (Robert Richardson) [2]</a><br>
        <a href="/catalog/wpna-989522-interview-with-norris-bradbury-1986-1">Bradbury, Norris [1]</a><br>
        <a href="/catalog/wpna-2931fd-interview-with-norris-bradbury-1986-2">Bradbury, Norris [2]</a><br>
        <a href="/catalog/wpna-beb27d-interview-with-harold-brown-1987-1">Brown, Harold [1]</a><br>
        <a href="/catalog/wpna-b80d68-interview-with-harold-brown-1987-2">Brown, Harold [2]</a><br>
        <a href="/catalog/wpna-1a13a9-interview-with-harold-brown-1986">Brown, Harold [3]</a><br>
        <a href="/catalog/wpna-c1c1d6-interview-with-zbigniew-brzezinski-1986">Brzezinski, Zbigniew [1]</a><br>
        <a href="/catalog/wpna-5d5f7b-interview-with-zbigniew-brzezinski-1989">Brzezinski, Zbigniew [2]</a><br>
        <a href="/catalog/wpna-4b23b3-interview-with-mcgeorge-bundy-1986-1">Bundy, McGeorge [1]</a><br>
        <a href="/catalog/wpna-cc06d7-interview-with-mcgeorge-bundy-1986-2">Bundy, McGeorge [2]</a><br>
        <a href="/catalog/wpna-ffebb0-interview-with-george-bunn-1986">Bunn, George</a><br>
        <a href="/catalog/wpna-56b793-interview-with-kelly-burke-1987">Burke, Kelly H.</a><br>
        <a href="/catalog/wpna-52aa15-interview-with-fyoder-burlatsky-1987">Burlatsky, Fedor Mikhaĭlovich [1]</a><br>
        <a href="/catalog/wpna-8aa01f-interview-with-fyoder-burlatsky-1986">Burlatsky, Fedor Mikhaĭlovich [2]</a><br>
        <a href="/catalog/wpna-57c452-interview-with-richard-burt-1987">Burt, Richard</a><br>
        <a href="/catalog/wpna-2077fa-interview-with-james-callaghan-1987">Callaghan, James</a><br>
        <a href="/catalog/wpna-e940e9-interview-with-frank-camm-1987">Camm, General Frank</a><br>
        <a href="/catalog/wpna-2e522c-interview-with-gregory-canavan-1987">Canavan, Gregory H.</a><br>
        <a href="/catalog/wpna-c9c777-interview-with-albert-carnesale-1987">Carnesale, Albert [1]</a><br>
        <a href="/catalog/wpna-5c9771-interview-with-albert-carnesale-1988">Carnesale, Albert [2]</a><br>
        <a href="/catalog/wpna-305694-interview-with-eugene-carroll-1986">Carroll, Eugene</a><br>
        <a href="/catalog/wpna-0db4e0-interview-with-ashton-carter-1987-1">Carter, Ashton B. [1]</a><br>
        <a href="/catalog/wpna-9f4111-interview-with-ashton-carter-1987-2">Carter, Ashton B. [2]</a><br>
        <a href="/catalog/wpna-7645df-interview-with-jimmy-carter-1987">Carter, Jimmy</a><br>
        <a href="/catalog/wpna-60f99c-interview-with-michael-carver-1987">Carver, Michael</a><br>
        <a href="/catalog/wpna-eb410a-interview-with-aloysius-casey-1987">Casey, Aloysius G.</a><br>
        <a href="/catalog/wpna-b4a06b-interview-with-arthur-chalfont-1986">Chalfont, Arthur Gwynne Jones, Baron</a><br>
        <a href="/catalog/wpna-f31f1c-interview-with-abram-chayes-1986">Chayes, Abram</a><br>
        <a href="/catalog/wpna-d3d25b-interview-with-antonia-chayes-1987">Chayes, Antonia Handler</a><br>
        <a href="/catalog/wpna-3f20f6-interview-with-n-f-chervov-1986">Chervov, N. F. [1]</a><br>
        <a href="/catalog/wpna-3f3c4c-interview-with-n-f-chervov-1987">Chervov, N. F. [2]</a><br>
        <a href="/catalog/wpna-93ccab-interview-with-clark-clifford-1986">Clifford, Clark M.</a><br>
        <a href="/catalog/wpna-ccb7c9-interview-with-chester-clifton-1986">Clifton, Chester V. (Chester Victor)</a><br>
        <a href="/catalog/wpna-c57d8b-interview-with-ray-cline-1986-1">Cline, Ray S. [1]</a><br>
        <a href="/catalog/wpna-28a138-interview-with-ray-cline-1986-2">Cline, Ray S. [2]</a><br>
        <a href="/catalog/wpna-29cf83-interview-with-norman-cousins-1986-1">Cousins, Norman [1]</a><br>
        <a href="/catalog/wpna-aaf4b4-interview-with-norman-cousins-1986-2">Cousins, Norman [2]</a><br>
        <a href="/catalog/wpna-0b7639-interview-with-john-coyle-1986">Coyle, John Patterson</a><br>
        <a href="/catalog/wpna-53f214-interview-with-kenneth-cross-1986">Cross, Kenneth</a><br>
        <a href="/catalog/wpna-366200-interview-with-jean-daniel-1986">Daniel, Jean</a><br>
        <a href="/catalog/wpna-14b15a-interview-with-lynn-davis-1987">Davis, Lynn E. (Lynn Etheridge)</a><br>
        <a href="/catalog/wpna-c73e6b-interview-with-yuri-davydov-1986">Davydov, Yuri Nikolaevich</a><br>
        <a href="/catalog/wpna-64b58c-interview-with-morarji-desai-1987">Desai, Morarji</a><br>
        <a href="/catalog/wpna-0ff772-interview-with-john-deutch-1987">Deutch, John M.</a><br>
        <a href="/catalog/wpna-34f23b-interview-with-norman-dicks-1987">Dicks, Norman D.</a><br>
        <a href="/catalog/wpna-5f1ef2-interview-with-russell-dougherty-1987">Dougherty, Russell E. [1]</a><br>
        <a href="/catalog/wpna-14fe68-interview-with-russell-dougherty-1986">Dougherty, Russell E. [2]</a><br>
        <a href="/catalog/wpna-5452e6-interview-with-sidney-drell-1987">Drell, Sidney D. (Sidney David) [1]</a><br>
        <a href="/catalog/wpna-c57c81-interview-with-sidney-drell-1986">Drell, Sidney D. (Sidney David) [2]</a><br>
        <a href="/catalog/wpna-322e1b-interview-with-muchkund-dubey-1987">Dubey, Muchkund</a><br>
        <a href="/catalog/wpna-e301eb-interview-with-susan-dutson-1987">Dutson, Susan B.</a><br>
        <a href="/catalog/wpna-284d36-interview-with-john-eisenhower-1986">Eisenhower, John S. D.</a><br>
        <a href="/catalog/wpna-92aaee-interview-with-alain-enthoven-1986">Enthoven, Alain C.</a><br>
        <a href="/catalog/wpna-9eca0f-interview-with-william-fairbourn-1986">Fairbourn, William T.</a><br>
        <a href="/catalog/wpna-507fde-interview-with-valentin-falin-1986-1">Falin, Valentin [1]</a><br>
        <a href="/catalog/wpna-e725b5-interview-with-valentin-falin-1986-2">Falin, Valentin [2]</a><br>
        <a href="/catalog/wpna-8ce255-interview-with-valentin-falin-1987">Falin, Valentin [3]</a><br>
        <a href="/catalog/wpna-3a1bb3-interview-with-frances-farley-1987">Farley, Frances</a><br>
        <a href="/catalog/wpna-063bbd-interview-with-philip-farley-1986">Farley, Philip J.</a><br>
        <a href="/catalog/wpna-2b57fb-interview-with-anthony-farrar-hockley-1987">Farrar-Hockley, Anthony</a><br>
        <a href="/catalog/wpna-bf4db1-interview-with-bernard-feld-1986">Feld, Bernard Taub</a><br>
        <a href="/catalog/wpna-553fc4-interview-with-edwin-firmage-1987">Firmage, Edwin</a><br>
        <a href="/catalog/wpna-0b5c8d-interview-with-randall-forsberg-1987">Forsberg, Randall [1]</a><br>
        <a href="/catalog/wpna-926e36-interview-with-randall-forsberg-1988">Forsberg, Randall [2]</a><br>
        <a href="/catalog/wpna-adf447-interview-with-john-foster-1987">Foster, John S.</a><br>
        <a href="/catalog/wpna-cb91c7-interview-with-barney-frank-1987">Frank, Barney</a><br>
        <a href="/catalog/wpna-807053-interview-with-shalheveth-freier-1987">Freier, Shalheveth</a><br>
        <a href="/catalog/wpna-f8c667-interview-with-takeo-fukuda-1987">Fukuda, Takeo</a><br>
        <a href="/catalog/wpna-511dd5-interview-with-james-fulbright-1986">Fulbright, J. William (James William)</a><br>
        <a href="/catalog/wpna-8eab65-interview-with-larry-gale-1987">Gale, Larry</a><br>
        <a href="/catalog/wpna-b60a0b-interview-with-pierre-m-gallois-1986">Gallois, Pierre M. (Pierre Marie)</a><br>
        <a href="/catalog/wpna-bb89b7-interview-with-cecil-garland-1987">Garland, Cecil</a><br>
        <a href="/catalog/wpna-793691-interview-with-jake-garn-1987">Garn, Senator Jake</a><br>
        <a href="/catalog/wpna-7d4acb-interview-with-raymond-garthoff-1986">Garthoff, Raymond L.</a><br>
        <a href="/catalog/wpna-bb79eb-interview-with-richard-garwin-1987">Garwin, Richard L.</a><br>
        <a href="/catalog/wpna-ee2fae-interview-with-james-gavin-1986">Gavin, James M. (James Maurice)</a><br>
        <a href="/catalog/wpna-35670b-interview-with-leslie-gelb-1987">Gelb, Leslie H.</a><br>
        <a href="/catalog/wpna-0172f4-interview-with-gennady-gerasimov-1987">Gerasimov, Gennady</a><br>
        <a href="/catalog/wpna-828b0c-interview-with-roswell-gilpatric-1986-1">Gilpatric, Roswell L. (Roswell Leavitt) [1]</a><br>
        <a href="/catalog/wpna-3f24fc-interview-with-roswell-gilpatric-1986-2">Gilpatric, Roswell L. (Roswell Leavitt) [2]</a><br>
        <a href="/catalog/wpna-5c1293-interview-with-roswell-gilpatric-1986-3">Gilpatric, Roswell L. (Roswell Leavitt) [3]</a><br>
        <a href="/catalog/wpna-676002-interview-with-william-golden-1986">Golden, William T.</a><br>
        <a href="/catalog/wpna-f3303e-interview-with-bertrand-goldschmidt-1986-1">Goldschmidt, Bertrand [1]</a><br>
        <a href="/catalog/wpna-979ad6-interview-with-bertrand-goldschmidt-1986-2">Goldschmidt, Bertrand [2]</a><br>
        <a href="/catalog/wpna-6193d9-interview-with-bertrand-goldschmidt-1986-3">Goldschmidt, Bertrand [3]</a><br>
        <a href="/catalog/wpna-b37adc-interview-with-andrew-goodpaster-1986-1">Goodpaster, General Andrew [1]</a><br>
        <a href="/catalog/wpna-f3aa17-interview-with-andrew-goodpaster-1986-2">Goodpaster, General Andrew [2]</a><br>
        <a href="/catalog/wpna-f9acf2-interview-with-sidney-graybeal-1986">Graybeal, Sidney</a><br>
        <a href="/catalog/wpna-91959a-interview-with-wilhelm-grewe-1986">Grewe, Wilhelm Georg</a><br>
        <a href="/catalog/wpna-f5ff2d-interview-with-andrei-gromyko-1988">Gromyko, Andreĭ Andreevich</a><br>
        <a href="/catalog/wpna-ef8c5d-interview-with-inder-gujral-1987">Gujral, I. K. (Inder Kumar)</a><br>
        <a href="/catalog/wpna-93f62c-interview-with-mordekhai-gur-1987">Gur, Mordekhai</a><br>
        <a href="/catalog/wpna-5c9b5a-interview-with-xu-han-1987">Han, Xu</a><br>
        <a href="/catalog/wpna-e3fddb-interview-with-denis-healey-1987">Healey, Denis [1]</a><br>
        <a href="/catalog/wpna-32d67c-interview-with-denis-healey-1986">Healey, Denis [2]</a><br>
        <a href="/catalog/wpna-e5183a-interview-with-richard-helms-1986">Helms, Richard</a><br>
        <a href="/catalog/wpna-8b36be-interview-with-michael-heseltine-1987">Heseltine, Michael</a><br>
        <a href="/catalog/wpna-00c001-interview-with-roger-hilsman-1986">Hilsman, Roger</a><br>
        <a href="/catalog/wpna-643a24-interview-with-arthur-hockaday-1987">Hockaday, Arthur</a><br>
        <a href="/catalog/wpna-e052ae-interview-with-richard-hottelet-1986">Hottelet, Richard C.</a><br>
        <a href="/catalog/wpna-1f3422-interview-with-kenneth-hunt-1986">Hunt, Kenneth</a><br>
        <a href="/catalog/wpna-dd8d21-interview-with-fred-ikle-1987-1">Iklé, Fred Charles [1]</a><br>
        <a href="/catalog/wpna-212133-interview-with-fred-ikle-1987-2">Iklé, Fred Charles [2]</a><br>
        <a href="/catalog/wpna-738238-interview-with-ryukichi-imai-1987">Imai, Ryūkichi</a><br>
        <a href="/catalog/wpna-0be7f6-interview-with-masashi-ishibashi-1987">Ishibashi, Masashi</a><br>
        <a href="/catalog/wpna-ad14a3-interview-with-boris-izakov-1986">Izakov, Boris</a><br>
        <a href="/catalog/wpna-d38478-interview-with-c-s-chandra-shekhar-jha-1987">Jha, C. S. (Chandra Shekhar)</a><br>
        <a href="/catalog/wpna-42ea0d-interview-with-lakshmi-jha-1987">Jha, Lakshmi Kant</a><br>
        <a href="/catalog/wpna-2627d9-interview-with-josef-joffe-1987">Joffe, Josef</a><br>
        <a href="/catalog/wpna-04a077-interview-with-david-jones-1986-1">Jones, David C. [1]</a><br>
        <a href="/catalog/wpna-dbf0a8-interview-with-david-jones-1986-2">Jones, David C. [2]</a><br>
        <a href="/catalog/wpna-4ec6a0-interview-with-sergei-kapitsa-1986">Kapitsa, Sergeĭ Petrovich</a><br>
        <a href="/catalog/wpna-6d0fcf-interview-with-william-kaufmann-1986">Kaufmann, William W.</a><br>
        <a href="/catalog/wpna-e05d04-interview-with-carl-kaysen-1986-1">Kaysen, Carl [1]</a><br>
        <a href="/catalog/wpna-88668f-interview-with-carl-kaysen-1986-2">Kaysen, Carl [2]</a><br>
        <a href="/catalog/wpna-801982-interview-with-randy-kehler-1987">Kehler, Randy</a><br>
        <a href="/catalog/wpna-200914-interview-with-petra-kelly-1986">Kelly, Petra Karin</a><br>
        <a href="/catalog/wpna-2224da-interview-with-bruce-kent-1987">Kent, Bruce</a><br>
        <a href="/catalog/wpna-ed9570-interview-with-glenn-kent-1986-1">Kent, Glenn A. [1]</a><br>
        <a href="/catalog/wpna-91ecdb-interview-with-glenn-kent-1986-2">Kent, Glenn A. [2]</a><br>
        <a href="/catalog/wpna-c3a554-interview-with-george-keyworth-1987">Keyworth, George A.</a><br>
        <a href="/catalog/wpna-af633f-interview-with-munir-khan-1987">Khan, Munir Ahmad</a><br>
        <a href="/catalog/wpna-61f8ef-interview-with-james-rhyne-killian-1986">Killian, James Rhyne</a><br>
        <a href="/catalog/wpna-3c957b-interview-with-henry-kissinger-1986">Kissinger, Henry</a><br>
        <a href="/catalog/wpna-8ea62e-interview-with-andrei-kokoshin-1987-1">Kokoshin, Andreĭ Afanasevich [1]</a><br>
        <a href="/catalog/wpna-230fa6-interview-with-andrei-kokoshin-1987-2">Kokoshin, Andreĭ Afanasevich [2]</a><br>
        <a href="/catalog/wpna-092d5e-interview-with-alexsandr-krasulin-1986">Krasulin, Alexsandr B.</a><br>
        <a href="/catalog/wpna-5a72cf-interview-with-myron-kratzer-1987">Kratzer, Myron B.</a><br>
        <a href="/catalog/wpna-f6c97b-interview-with-yuko-kurihara-1987">Kurihara, Yuko</a><br>
        <a href="/catalog/wpna-3900cb-interview-with-gene-r-larocque-1986">La Rocque, Gene R. (Gene Robert)</a><br>
        <a href="/catalog/wpna-4c510f-interview-with-thomas-lanphier-1986">Lanphier, Thomas</a><br>
        <a href="/catalog/wpna-8b3dec-interview-with-james-leach-1987">Leach, James</a><br>
        <a href="/catalog/wpna-58e673-interview-with-charles-leavitt-1987">Leavitt, Charles</a><br>
        <a href="/catalog/wpna-29a5de-interview-with-yuriy-lebedev-1986">Lebedev, Yuriy Vladimirovich [1]</a><br>
        <a href="/catalog/wpna-1b9244-interview-with-yuriy-lebedev-1987">Lebedev, Yuriy Vladimirovich [2]</a>
      </b></div><b>
    </b><div style="width:40%;padding:0 10pt 0 0;float:left;"><b><a href="/catalog/wpna-828b0c-interview-with-roswell-gilpatric-1986-1">Gilpatric, Roswell L. (Roswell Leavitt) [1]</a><br>
        <a href="/catalog/wpna-3f24fc-interview-with-roswell-gilpatric-1986-2">Gilpatric, Roswell L. (Roswell Leavitt) [2]</a><br>
        <a href="/catalog/wpna-5c1293-interview-with-roswell-gilpatric-1986-3">Gilpatric, Roswell L. (Roswell Leavitt) [3]</a><br>
        <a href="/catalog/wpna-d0d3de-interview-with-vladimir-lomeiko-1986">Lomeĭko, V. (Vladimir)</a><br>
        <a href="/catalog/wpna-67b406-interview-with-michael-luft-and-jeff-robles-1987">Luft, Michael</a><br>
        <a href="/catalog/wpna-65f472-interview-with-art-lundahl-1986">Lundahl, Art</a><br>
        <a href="/catalog/wpna-217bc9-interview-with-laurence-lynn-1987">Lynn, Laurence E.</a><br>
        <a href="/catalog/wpna-8e4ea2-interview-with-john-manley-1986">Manley, John Henry</a><br>
        <a href="/catalog/wpna-9ad48e-interview-with-glen-martin-1986-1">Martin, Glen [1]</a><br>
        <a href="/catalog/wpna-52f0b7-interview-with-glen-martin-1986-2">Martin, Glen [2]</a><br>
        <a href="/catalog/wpna-736df2-interview-with-ronald-mason-1987">Mason, Ronald, A.</a><br>
        <a href="/catalog/wpna-8dd04b-interview-with-nicholas-mavroules-1987">Mavroules, Nicholas</a><br>
        <a href="/catalog/wpna-fa63b8-interview-with-michael-mawby-1987">Mawby, Michael</a><br>
        <a href="/catalog/wpna-cb1cdf-interview-with-charles-may-1987">May, Charles</a><br>
        <a href="/catalog/wpna-cc620f-interview-with-john-mccone-1986-1">McCone, John A. (John Alex) [1]</a><br>
        <a href="/catalog/wpna-b3557c-interview-with-john-mccone-1986-2">McCone, John A. (John Alex) [2]</a><br>
        <a href="/catalog/wpna-ac5c23-interview-with-robert-c-mcfarlane-1987">McFarlane, Robert C.</a><br>
        <a href="/catalog/wpna-27c3ba-interview-with-robert-mcnamara-1986-1">McNamara, Robert S. [1]</a><br>
        <a href="/catalog/wpna-5b55e7-interview-with-robert-mcnamara-1986-2">McNamara, Robert S. [2]</a><br>
        <a href="/catalog/wpna-f1e5fc-interview-with-robert-mcnamara-1986-3">McNamara, Robert S. [3]</a><br>
        <a href="/catalog/wpna-1bee12-interview-with-m-g-k-menon-1987">Menon, M. G. K. (Mambillikalathil Govind Kumar)</a><br>
        <a href="/catalog/wpna-3067b6-interview-with-pierre-messmer-1986">Messmer, Pierre</a><br>
        <a href="/catalog/wpna-dbe497-interview-with-moshe-milhstein-1986-1">Milhstein, Moshe (Mikhail M) [1]</a><br>
        <a href="/catalog/wpna-38407e-interview-with-moshe-milhstein-1986-2">Milhstein, Moshe (Mikhail M) [2]</a><br>
        <a href="/catalog/wpna-fba599-interview-with-gerry-miller-1986">Miller, Gerry</a><br>
        <a href="/catalog/wpna-63082a-interview-with-thomas-moorer-1986">Moorer, Thomas H.</a><br>
        <a href="/catalog/wpna-fbba80-interview-with-kazuhisa-mori-1987">Mori, Kazuhisa</a><br>
        <a href="/catalog/wpna-676d42-interview-with-ichiro-moritaki-1987">Moritaki, Ichirō</a><br>
        <a href="/catalog/wpna-89c651-interview-with-philip-morrison-1986-1">Morrison, Philip [1]</a><br>
        <a href="/catalog/wpna-986ed1-interview-with-philip-morrison-1986-2">Morrison, Philip [2]</a><br>
        <a href="/catalog/wpna-39304e-interview-with-yuval-neeman-1987">Neeman, Yuval</a><br>
        <a href="/catalog/wpna-48842a-interview-with-kenneth-nichols-1986-1">Nichols, Kenneth D. (Kenneth David) [1]</a><br>
        <a href="/catalog/wpna-c9c30a-interview-with-kenneth-nichols-1986-2">Nichols, Kenneth D. (Kenneth David) [2]</a><br>
        <a href="/catalog/wpna-b2867a-interview-with-kenneth-nichols-1986-3">Nichols, Kenneth D. (Kenneth David) [3]</a><br>
        <a href="/catalog/wpna-f96d50-interview-with-paul-nitze-1987-1">Nitze, Paul H. [1]</a><br>
        <a href="/catalog/wpna-f2fbfa-interview-with-paul-h-nitze-1986-2">Nitze, Paul H. [2]</a><br>
        <a href="/catalog/wpna-bdf7a9-interview-with-paul-nitze-1988">Nitze, Paul H. [3]</a><br>
        <a href="/catalog/wpna-0bc01a-interview-with-paul-nitze-1987-2">Nitze, Paul H. [4]</a><br>
        <a href="/catalog/wpna-f2fbfa-interview-with-paul-h-nitze-1986-2">Nitze, Paul H. [5]</a><br>
        <a href="/catalog/wpna-2b8615-interview-with-paul-nitze-1986-3">Nitze, Paul H. [6]</a><br>
        <a href="/catalog/wpna-fc0b07-interview-with-joseph-nye-1987">Nye, Joseph S.</a><br>
        <a href="/catalog/wpna-cdcaba-interview-with-aleksandr-obukhov-1986">Obukhov, A. M. (Aleksandr Mikhaĭlovich)</a><br>
        <a href="/catalog/wpna-6faadb-interview-with-horst-osterheld-1986">Osterheld, Horst</a><br>
        <a href="/catalog/wpna-58470c-interview-with-hiroshi-ota-1987">Ota, Hiroshi</a><br>
        <a href="/catalog/wpna-179431-interview-with-david-owen-1987">Owen, David</a><br>
        <a href="/catalog/wpna-8d3ce9-interview-with-david-packard-1986">Packard, David</a><br>
        <a href="/catalog/wpna-36c89c-interview-with-wolfgang-panofsky-1986">Panofsky, Wolfgang K. H. (Wolfgang Kurt Hermann)</a><br>
        <a href="/catalog/wpna-90c242-interview-with-rudolf-peierls-1986">Peierls, Rudolf E. (Rudolf Ernst)</a><br>
        <a href="/catalog/wpna-9159b6-interview-with-matityahu-peled-1987">Peled, Matityahu</a><br>
        <a href="/catalog/wpna-01c070-interview-with-richard-perle-1987-1">Perle, Richard Norman [1]</a><br>
        <a href="/catalog/wpna-e462d3-interview-with-richard-perle-1987-2">Perle, Richard Norman [2]</a><br>
        <a href="/catalog/wpna-71c560-interview-with-richard-perle-1987-3">Perle, Richard Norman [3]</a><br>
        <a href="/catalog/wpna-f03bb6-interview-with-richard-perle-1988">Perle, Richard Norman [4]</a><br>
        <a href="/catalog/wpna-b75dbc-interview-with-william-perry-1987">Perry, William James</a><br>
        <a href="/catalog/wpna-0d1cd6-interview-with-vladimir-petrovsky-1986">Petrovsky, Vladimir [1]</a><br>
        <a href="/catalog/wpna-70ac68-interview-with-vladimir-petrovsky-1987">Petrovsky, Vladimir [2]</a><br>
        <a href="/catalog/wpna-522414-interview-with-boris-d-pyadyshev-1986">Piadyshev, Boris Dmitrievich</a><br>
        <a href="/catalog/wpna-6ee0a5-interview-with-richard-pipes-1987">Pipes, Richard [1]</a><br>
        <a href="/catalog/wpna-446d06-interview-with-richard-pipes-1986">Pipes, Richard [2]</a><br>
        <a href="/catalog/wpna-6785fa-interview-with-sergei-policknov-1986-1">Policknov, Sergei [1]</a><br>
        <a href="/catalog/wpna-eaf04c-interview-with-sergei-policknov-1986-2">Policknov, Sergei [2]</a><br>
        <a href="/catalog/wpna-925b29-interview-with-richard-powell-1986">Powell, Richard</a><br>
        <a href="/catalog/wpna-2dd6c2-interview-with-david-powers-1986">Powers, David F. (David Francis)</a><br>
        <a href="/catalog/wpna-bccc37-interview-with-i-i-isidor-isaac-rabi-1986">Rabi, I. I. (Isidor Isaac)</a><br>
        <a href="/catalog/wpna-e0bad9-interview-with-yitzhak-rabin-1987">Rabin, Yitzhak</a><br>
        <a href="/catalog/wpna-38095d-interview-with-raja-ramanna-1987">Ramanna, Raja</a><br>
        <a href="/catalog/wpna-cd4a07-interview-with-marcus-raskin-1986">Raskin, Marcus G.</a><br>
        <a href="/catalog/wpna-dc15a2-interview-with-george-rathjens-1986">Rathjens, George</a><br>
        <a href="/catalog/wpna-9da085-interview-with-boris-rauschenbach-1986">Rauschenbach, Boris</a><br>
        <a href="/catalog/wpna-72cf78-interview-with-robert-c-richardson-1986">Richardson, Robert C</a><br>
        <a href="/catalog/wpna-a3b091-interview-with-denis-rickett-1986">Rickett, Denis</a><br>
        <a href="/catalog/wpna-c7d51c-interview-with-chalmers-roberts-1986">Roberts, Chalmers M. (Chalmers McGeagh)</a><br>
        <a href="/catalog/wpna-3b1a34-interview-with-frank-roberts-1986-1">Roberts, Frank, Sir [1]</a><br>
        <a href="/catalog/wpna-28b077-interview-with-frank-roberts-1986-2">Roberts, Frank, Sir[2]</a><br>
        <a href="/catalog/wpna-67b406-interview-with-michael-luft-and-jeff-robles-1987">Robles, Jeff</a><br>
        <a href="/catalog/wpna-7b76d5-interview-with-francois-de-rose-1986">Rose, François de</a><br>
        <a href="/catalog/wpna-d94413-interview-with-alexei-roshin-1986">Roshin, Alexei</a><br>
        <a href="/catalog/wpna-adf1a7-interview-with-eugene-rostow-1986">Rostow, Eugene V. (Eugene Victor)</a><br>
        <a href="/catalog/wpna-db6dc9-interview-with-joseph-rotblat-1986">Rotblat, Joseph</a><br>
        <a href="/catalog/wpna-5ee961-interview-with-henry-rowen-1986">Rowen, Henry S.</a><br>
        <a href="/catalog/wpna-918401-interview-with-edward-l-rowny-1986-1">Rowny, Edward L. [1]</a><br>
        <a href="/catalog/wpna-39527e-interview-with-edward-l-rowny-1986-2">Rowny, Edward L. [2]</a><br>
        <a href="/catalog/wpna-7b106f-interview-with-lothar-ruhl-1987">Rühl, Lothar</a><br>
        <a href="/catalog/wpna-ed21dc-interview-with-jack-ruina-1986">Ruina, J. P. (Jack P.)</a><br>
        <a href="/catalog/wpna-316d61-interview-with-dean-rusk-1986">Rusk, Dean [1]</a><br>
        <a href="/catalog/wpna-30518a-interview-with-dean-rusk-1988">Rusk, Dean [2]</a><br>
        <a href="/catalog/wpna-557267-interview-with-roald-sagdeev-1986">Sagdeev, R. Z. (Roald) [1]</a><br>
        <a href="/catalog/wpna-1c06c8-interview-with-roald-sagdeev-1987">Sagdeev, R. Z. (Roald) [2]</a><br>
        <a href="/catalog/wpna-9b2f55-interview-with-abdus-salam-1986">Salam, Abdus</a><br>
        <a href="/catalog/wpna-c200bf-interview-with-kiyomi-sasaki-1987">Sasaki, Kiyomi</a><br>
        <a href="/catalog/wpna-0efabf-interview-with-abdul-sattar-1987">Sattar, Abdul</a><br>
        <a href="/catalog/wpna-326835-interview-with-john-scali-1986">Scali, John</a><br>
        <a href="/catalog/wpna-ebd606-interview-with-thomas-schelling-1986">Schelling, Thomas C.</a><br>
        <a href="/catalog/wpna-e7fe88-interview-with-arthur-schlesinger-1986">Schlesinger, Arthur</a><br>
        <a href="/catalog/wpna-62cc98-interview-with-james-schlesinger-1987-1">Schlesinger, James R. [1]</a><br>
        <a href="/catalog/wpna-ec43ef-interview-with-james-schlesinger-1987-2">Schlesinger, James R. [2]</a><br>
        <a href="/catalog/wpna-1bca5f-interview-with-james-schlesinger-1988">Schlesinger, James R. [3]</a><br>
        <a href="/catalog/wpna-986edb-interview-with-helmut-schmidt-1987">Schmidt, Helmut</a><br>
        <a href="/catalog/wpna-2f1a8a-interview-with-gerd-schmuckle-1986">Schmückle, Gerd</a><br>
        <a href="/catalog/wpna-1ad803-interview-with-maurice-schumann-1986-1">Schumann, Maurice [1]</a><br>
        <a href="/catalog/wpna-50c784-interview-with-maurice-schumann-1986-2">Schumann, Maurice [2]</a><br>
        <a href="/catalog/wpna-851be0-interview-with-brent-scowcroft-1987">Scowcroft, Brent</a><br>
        <a href="/catalog/wpna-e0bd60-interview-with-glenn-seaborg-1986">Seaborg, Glenn T. (Glenn Theodore)</a><br>
        <a href="/catalog/wpna-0dcbc7-interview-with-georges-seguy-1986">Séguy, Georges</a><br>
        <a href="/catalog/wpna-86b9eb-interview-with-vladimir-semyonovich-semyonov-1986">Semenov, V. S. (Vladimir Semyonovich)</a><br>
        <a href="/catalog/wpna-574ece-interview-with-homi-sethna-1987">Sethna, Homi</a><br>
        <a href="/catalog/wpna-a5d6e4-interview-with-agha-shahi-1987">Shahi, Agha</a><br>
        <a href="/catalog/wpna-7d7712-interview-with-georgi-shakhnazarov-1987">Shakhnazarov, Georgiĭ Khosroevich</a><br>
        <a href="/catalog/wpna-6b9e3f-interview-with-roger-sherfield-1986-1">Sherfield, Roger Mellor Makins, Baron [1]</a><br>
        <a href="/catalog/wpna-7b8ed5-interview-with-roger-sherfield-1986-2">Sherfield, Roger Mellor Makins, Baron [2]</a><br>
        <a href="/catalog/wpna-dd1c12-interview-with-roger-sherfield-1986-3">Sherfield, Roger Mellor Makins, Baron [3]</a><br>
        <a href="/catalog/wpna-c2aa4c-interview-with-roger-sherfield-1986-4">Sherfield, Roger Mellor Makins, Baron [4]</a><br>
        <a href="/catalog/wpna-bace25-interview-with-arkady-shevchenko-1986">Shevchenko, Arkady N.</a><br>
        <a href="/catalog/wpna-8e1c88-interview-with-marshall-shulman-1986">Shulman, Marshall Darrow</a><br>
        <a href="/catalog/wpna-626a3d-interview-with-george-shultz-1986">Shultz, George Pratt</a><br>
        <a href="/catalog/wpna-457ce2-interview-with-thomas-simons-1986">Simons, Thomas</a><br>
        <a href="/catalog/wpna-72f835-interview-with-larry-smith-1987">Smith, Larry</a><br>
        <a href="/catalog/wpna-10222c-interview-with-gerard-smith-1986">Smith, Gerard C.</a><br>
        <a href="/catalog/wpna-d328ba-interview-with-william-smith-1987">Smith, William Y.</a><br>
        <a href="/catalog/wpna-69f07a-interview-with-donald-soper-1986">Soper, Donald</a><br>
        <a href="/catalog/wpna-1bee41-interview-with-theodore-sorensen-1986-1">Sorensen, Theodore C. [1]</a><br>
        <a href="/catalog/wpna-5d3c7b-interview-with-theodore-sorensen-1986-2">Sorensen, Theodore C. [2]</a><br>
        <a href="/catalog/wpna-dfe326-interview-with-robert-sprague-1986">Sprague, Robert</a><br>
        <a href="/catalog/wpna-3f8ca0-interview-with-howard-stoertz-1986">Stoertz, Howard</a><br>
        <a href="/catalog/wpna-396e86-interview-with-kandury-subramanvam-1987">Subramanvam, Kandury</a><br>
        <a href="/catalog/wpna-d50f4a-interview-with-subramanian-swamy-1987">Swamy, Subramanian</a><br>
        <a href="/catalog/wpna-dc7861-interview-with-akihiro-takahashi-1987">Takahashi, Akihiro</a><br>
        <a href="/catalog/wpna-5a87a3-interview-with-michel-tatu-1986-1">Tatu, Michel [1]</a><br>
        <a href="/catalog/wpna-690a9d-interview-with-michel-tatu-1986-2">Tatu, Michel [2]</a><br>
        <a href="/catalog/wpna-06c915-interview-with-edward-teller-1987">Teller, Edward [1]</a><br>
        <a href="/catalog/wpna-c0523e-interview-with-edward-teller-1986">Teller, Edward [2]</a><br>
        <a href="/catalog/wpna-5d8952-interview-with-edward-palmer-thompson-1987">Thompson, E. P. (Edward Palmer)</a><br>
        <a href="/catalog/wpna-447797-interview-with-james-thomson-1989">Thomson, James, A.</a><br>
        <a href="/catalog/wpna-530c01-interview-with-roland-timerbaev-1986-1">Timerbaev, R. M. (Roland Makhmutovich) [1]</a><br>
        <a href="/catalog/wpna-a5204e-interview-with-roland-timerbaev-1986-2">Timerbaev, R. M. (Roland Makhmutovich) [2]</a><br>
        <a href="/catalog/wpna-0e1282-interview-with-jurgen-todenhofer-1986">Todenhöfer, Jürgen</a><br>
        <a href="/catalog/wpna-0cf6f8-interview-with-john-toomay-1987">Toomay, John</a><br>
        <a href="/catalog/wpna-753147-interview-with-charles-h-townes-1987">Townes, Charles H.</a><br>
        <a href="/catalog/wpna-9c024e-interview-with-henry-genrikh-aleksandrovich-trofimenko-1986">Trofimenko, G. A. (Genrikh Aleksandrovich) [1]</a><br>
        <a href="/catalog/wpna-3644c1-interview-with-henry-genrikh-aleksandrovich-trofimenko-1987">Trofimenko, G. A. (Genrikh Aleksandrovich) [2]</a><br>
        <a href="/catalog/wpna-891ad7-interview-with-stansfield-turner-1987">Turner, Stansfield</a><br>
        <a href="/catalog/wpna-d4db82-interview-with-ishrat-husain-usmani-1986">Usmani, Ishrat Husain</a><br>
        <a href="/catalog/wpna-b74299-interview-with-william-van-cleave-1987">Van Cleave, William R.</a><br>
        <a href="/catalog/wpna-40d84c-interview-with-cyrus-vance-1987">Vance, Cyrus R. (Cyrus Roberts)</a><br>
        <a href="/catalog/wpna-ba44a9-interview-with-evgeny-velikhov-1986">Velikhov, E. P.</a><br>
        <a href="/catalog/wpna-d816fc-interview-with-joseph-volpe-1986-1">Volpe, Joseph [1]</a><br>
        <a href="/catalog/wpna-bf312b-interview-with-joseph-volpe-1986-2">Volpe, Joseph [2]</a><br>
        <a href="/catalog/wpna-ea9b0e-interview-with-douglas-waller-1987">Waller, Douglas C.</a><br>
        <a href="/catalog/wpna-a54619-interview-with-robert-walquist-1987">Walquist, Robert</a><br>
        <a href="/catalog/wpna-83c508-interview-with-paul-warnke-1986">Warnke, Paul C.</a><br>
        <a href="/catalog/wpna-29ab2a-interview-with-james-watkins-1987">Watkins, James D.</a><br>
        <a href="/catalog/wpna-7f992c-interview-with-caspar-weinberger-1987-1">Weinberger, Caspar W. [1]</a><br>
        <a href="/catalog/wpna-36e5bf-interview-with-caspar-weinberger-1987-2">Weinberger, Caspar W. [2]</a><br>
        <a href="/catalog/wpna-79e5dd-interview-with-victor-weisskopf-1986">Weisskopf, Victor Frederick</a><br>
        <a href="/catalog/wpna-05c5f2-interview-with-carl-von-weizsacker-1986">Weizsäcker, Carl Friedrich, Freiherr von</a><br>
        <a href="/catalog/wpna-c6c9df-interview-with-fred-wertheimer-1987">Wertheimer, Fred</a><br>
        <a href="/catalog/wpna-9e6621-interview-with-jerome-wiesner-1986-1">Wiesner, Jerome B. (Jerome Bert) [1]</a><br>
        <a href="/catalog/wpna-08512c-interview-with-jerome-wiesner-1986-2">Wiesner, Jerome B. (Jerome Bert) [2]</a><br>
        <a href="/catalog/wpna-57178a-interview-with-jerome-wiesner-1986-3">Wiesner, Jerome B. (Jerome Bert) [3]</a><br>
        <a href="/catalog/wpna-a1af65-interview-with-pete-wilson-1987">Wilson, Pete</a><br>
        <a href="/catalog/wpna-6184b7-interview-with-albert-wohlstetter-1986">Wohlstetter, Albert J.</a><br>
        <a href="/catalog/wpna-690ddc-interview-with-james-woolsey-1987">Woolsey, R. James</a><br>
        <a href="/catalog/wpna-fc7f73-interview-with-herbert-york-1986">York, Herbert F. (Herbert Frank) [1]</a><br>
        <a href="/catalog/wpna-f3068a-interview-with-herbert-york-1988">York, Herbert F. (Herbert Frank) [2]</a><br>
        <a href="/catalog/wpna-e93072-interview-with-vitaliy-vladimirovich-zhurkin-1986">Zhurkin, Vitaliy Vladimirovich [1]</a><br>
        <a href="/catalog/wpna-63cfaa-interview-with-vitaliy-vladimirovich-zhurkin-1987">Zhurkin, Vitaliy Vladimirovich [2]</a><br>
        <a href="/catalog/wpna-7e1b12-interview-with-solly-zuckerman-1987">Zuckerman, Solly Zuckerman, Baron</a><br>
      </b>
    </div>
  </div>
  <footer>
  </footer>
</article>