<div id="sample-audio">
  <div class="asset-type-icon span1">
    <i class="fa fa-music"></i>
  </div>
  <div class="span1">
    <img src="/assets/tmp_cat_image_thumb.jpg" height="35" width="35">
  </div>
  <div class="span10">
    <h3>Random audio title</h3>
    <p>Audio type: feature</p>
  </div>
</div>