<div id="program-asset-list">
  <% unless @ov_asset.videos.empty? %>
    <h4>Video</h4>
    <ul class="asset-list video-list">
      <% @ov_asset.videos.each do |video| %>
        <li><%= link_to video.title, video %></li>
      <% end %>
    </ul>  
  <% end %>
  <% unless @ov_asset.audios.empty? %>
    <h4>Audio</h4>
    <ul class="asset-list audio-list">
      <% @ov_asset.audios.each do |audio| %>
        <li><%= link_to audio.title, audio %></li>
      <% end %>
    </ul>
  <% end %>
  <%# TODO: Transcripts? Images? %>
</div>
