<div class="custom_collection_items_list">
  <% custom_collection_items.each do |custom_collection_item| %>
    <% case custom_collection_item.kind %>
    <% when 'Video' %>
      <%= render partial: 'custom_collection_items/video', locals: {custom_collection_item: custom_collection_item} %>
    <% when 'Audio' %>
      <%= render partial: 'custom_collection_items/audio', locals: {custom_collection_item: custom_collection_item} %>
    <% when 'Series' %>
      <%= render partial: 'custom_collection_items/series', locals: {custom_collection_item: custom_collection_item} %>
    <% when 'Program' %>
      <%= render partial: 'custom_collection_items/program', locals: {custom_collection_item: custom_collection_item} %>
    <% end %>
  <% end %>
</div>