<div class="custom_collection_item">

  <div class="custom_collection_item_poster">
    <%= custom_collection_item.poster %>
  </div>

  <div class="custom_collection_item_content">

    <h4><%= link_to custom_collection_item.title, custom_collection_item.show_url %></h4>

    <div class=-"custom_collection_item_summary">
      <%= custom_collection_item.summary %>
    </div>
  </div>
</div>