<% # container for all documents in index view -%>
<div id="documents">
  <%#= 
  @document_list.inspect
  %>
  <%= render documents ||= @document_list, :as => :document %>
  
  <!-- stand in info till search is hooked up -->
  <!-- <div class="document ">
  
    <div class="documentHeader">
      <h3 class="index_title"><a href="/catalog/sbro-sbro01401-15-annual-gala-celebration">15 Annual Gala&nbsp;Celebration</a></h3>
    </div>
  
    <div class="thumbnail">
      <a href="http://openvault.wgbh.org/catalog/sbro-sbro01401-15-annual-gala-celebration"><img alt="Preview" src="http://openvault.wgbh.org/system/thumbnails/sbro-sbro01401-15-annual-gala-celebration/preview.jpg" &nbsp;=""></a>
    </div>
  
    <div class="defList_container">
      <div class="blacklight-dc_date_s">
        <div class="label">Date Created</div>
        <div class="value">09/29/1983</div>
      </div>
      <div class="blacklight-pbcore_pbcoretitle_program_s">
        <div class="label">Program</div>
        <div class="value">Say Brother / 15 Annual Gala Celebration</div>
      </div>
    </div>
  
    <abbr class="unapi-id" title="sbro-sbro01401-15-annual-gala-celebration"></abbr>
  </div>
  
  <div class="document ">
  
    <div class="documentHeader">
      <h3 class="index_title"><a href="/catalog/sbro-sbro01401-15-annual-gala-celebration">15 Annual Gala&nbsp;Celebration</a></h3>
    </div>
  
    <div class="thumbnail">
      <a href="http://openvault.wgbh.org/catalog/sbro-sbro01401-15-annual-gala-celebration"><img alt="Preview" src="http://openvault.wgbh.org/system/thumbnails/sbro-sbro01401-15-annual-gala-celebration/preview.jpg" &nbsp;=""></a>
    </div>
  
    <div class="defList_container">
      <div class="blacklight-dc_date_s">
        <div class="label">Date Created</div>
        <div class="value">09/29/1983</div>
      </div>
      <div class="blacklight-pbcore_pbcoretitle_program_s">
        <div class="label">Program</div>
        <div class="value">Say Brother / 15 Annual Gala Celebration</div>
      </div>
    </div>
  
    <abbr class="unapi-id" title="sbro-sbro01401-15-annual-gala-celebration"></abbr>
  </div> -->
</div>
