<% if paginate_params(@response).num_pages > 1 %>
    <div class="pager hidden-tablet hidden-phone"> 
      <%= paginate_rsolr_response @response, :left => 4, :window => 3, :right => 2 %>
    </div><!-- /pager -->
    <div class="pager hidden-desktop">
      <%= paginate_rsolr_response @response, :left => 1, :window => 2, :right => 1 %>
    </div>
<% end %>
