<div class="citation">
<h1>Citation</h1>
<h4>Chicago</h4>
<%#= @document.export_as_chicago_citation_txt %>
<h4>MLA</h4>
<%#= @document.export_as_mla_citation_txt %>
<h4>APA</h4>
<%#= @document.export_as_apa_citation_txt %>
</div>
