<!-- Mosaic -->
<div class="row">
  <div class="span12">
    <%= render :partial=>'catalog/partials/mosaic' %>
  </div>
</div>
<!-- /Mosaic -->


<!-- Carousel and Blog roll -->
<div class="row" id="bd">

  <!-- Carousel -->
  <div class="span5">
    <%= render :partial=>"catalog/partials/carousel" %>
  </div>

  <!-- Blog roll -->
  <div class="span7">
    <%= render :partial=>"catalog/partials/blog_roll" %>
  </div>
</div>
<!-- /Carousel and Blog roll -->
