<% title "OpenVault - Home" %>
<!-- Mosaic -->
<div class="row" id="mosaic-container">
  <div class="span12">
    <%= render :partial=>'catalog/partials/mosaic', :mosaic_items => @mosaic_items %>
  </div>
</div>
<!-- /Mosaic -->

<!-- Carousel and Blog roll -->
<div class="row" id="bd">
  <!-- Carousel -->
  <div class="span6">
    <%= render :partial=>"catalog/partials/carousel" %>
  </div>

  <!-- Blog roll -->
  <div class="span6">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#scholars" data-toggle="tab">Recent scholars</a></li>
      <li><a href="#blog" data-toggle="tab">From the blog</a></li>
    </ul>
    <div class="tab-content">
      <%= render :partial => 'catalog/partials/scholars' %>
      <%= render :partial=> "catalog/partials/blog_roll" %>
    </div>
    <a href="http://www.wgbh.org/donatetowgbh?utm_source=openvault&amp;utm_medium=web&amp;utm_campaign=button"><img alt="Support WGBH" src="/assets/support_btn.jpg" style="float: right;"></a>
  </div>
</div>
<!-- /Carousel and Blog roll -->
