

<!-- MLA Logo and search bar -->
<div class="row">
  <div class="span3">
    <div id="mla-logo">Media Library and Archives</div>
  </div>
  <div class="span9">
    <%= render :partial => 'search_form' %>
  </div>
</div>
<!-- /MLA Logo and search bar -->


<!-- Mosaic -->
<div class="row">
  <div class="span12">
    <%= render :partial=>'/mosaic' %>
  </div>
</div>
<!-- /Mosaic -->


<!-- Carousel and Blog roll -->
<div class="row">

  <!-- Carousel -->
  <div class="span5">
    <%= render :partial=>"/carousel" %>
  </div>

  <!-- Blog roll -->
  <div class="span7">
    <%= render :partial=>"/blog_roll" %>
  </div>
</div>
<!-- /Carousel and Blog roll -->
