<% title "OpenVault - Document Title" %>
<%# title "OpenVault - #{document_show_html_title}" %>
<%# extra_head_content << render_link_rel_alternates %>
<%# extra_head_content << render_document_partial(@document, :meta) %>
<%# extra_head_content << render_document_partial(@document, :opengraph) %>
<% sidebar_items << render(:partial => 'related_content') %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %>">
  <div id="doc_sbro-sbro01401-15-annual-gala-celebration">
  
      
        

      <div class="document_heading">
    <h1>15 Annual Gala Celebration</h1>
  </div>

      <div class="tools"><ul class="tools">
    <li class="share">
  <div class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_preferred_1 addthis_button_facebook at300b" title="Facebook" href="#"><span class="at16nc at300bs at15nc at15t_facebook at16t_facebook"><span class="at_a11y">Share on facebook</span></span></a>
    <a class="addthis_button_preferred_2 addthis_button_thefancy at300b" target="_blank" title="The Fancy" href="#"><span class=" at300bs at15nc at15t_thefancy"><span class="at_a11y">Share on thefancy</span></span></a>
    <a class="addthis_button_preferred_3 addthis_button_twitter at300b" title="Tweet" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y">Share on twitter</span></span></a>
    <a class="addthis_button_compact at300m" href="#"><span class="at16nc at300bs at15nc at15t_compact at16t_compact"><span class="at_a11y">More Sharing Services</span></span></a>
  <div class="atclear"></div></div>
  <script type="text/javascript">
    var addthis_config = { ui_click: true }

    $(function() {
      addthis_config = { ui_click: true, data_track_clickback: true, data_ga_property: 'UA-237277-2'}
      $('<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=interactivetech"></' + 'script>').insertAfter('.addthis_button_compact');

    });
  </script>
    </li>
    <li class="cite">
      <a href="/catalog/sbro-sbro01401-15-annual-gala-celebration/cite">Cite</a>
    </li>
  </ul>
   
  </div>
      <hr>
      <div class="document">
        <div class="defList_container">
        <div class="blacklight-topic_cv">
  	    <div class="label">Topics</div>
              <div class="value">African American musicians, African American women, Music--Performance, Weston, Randy, 1926-, National Center of Afro-American Artists. Museum, Civil rights, Say Brother - Anniversaries, Atwood, David, Bagley, Sandy, Barrow-Murray, Barbara, Bright, Hazel, Deare, Beth, Deare, Paul, Fox, Gloria, Gaither,<span class="truncate_ellipsis">...</span><span class="truncate_more" style="display: none;"> Barry, Gilmore, Marvin, Grimes, Kevin, Guillaume, Robert, Hart, Tanya, Langhart, Janet, Ledford, Mark, Lee, David, Lewis, Elma, Lewis, Webster, Lugo, Lita, McGuire, Jean, McRae, Carmen, Nurse, Karl, Ortiz, Raquel, Osborne, Michael, Pointer, Noel, Putnam, Glendora, Richardson, Dan, Richardson, Joey, Rivero, Marita, Ross, John, Scott, Kamal, Shaw, Sarah-Ann, Spruill, Jim, Woody, Betty, Elma Lewis School of Fine Arts (Roxbury, Mass.), Master Cylinder (Musical group), Say Brother (Television program), Waters (Musical grounp), Fred Benjamin Dancers, Say Brother Community Committe</span><a href="#" class="truncate_more_link"> more</a></div>
            </div>
    <div class="blacklight-tags">
      <div class="label">Tags (0)</div>
      <div class="value"></div>
    </div>
    <!-- <a href="/catalog/sbro-sbro01401-15-annual-gala-celebration/tags/new" class="new_tag">Add Tag</a> -->

    <div class="blacklight-comments">
      <div class="label">Annotations</div>
      <div class="value">
      
        <a href="/catalog/sbro-sbro01401-15-annual-gala-celebration/comments?public=true">public annotations (0)</a>
      </div>
    </div>
    <!-- <a href="/catalog/sbro-sbro01401-15-annual-gala-celebration/comments/new" class="new_annotation">Add Annotation</a> -->
    </div>

        <abbr class="unapi-id" title="sbro-sbro01401-15-annual-gala-celebration"></abbr>

      <hr>
        <div class="media">
        
        </div>

        <div class="metadata">
          
            <div class="pbcore-metadata">

  <div class="source">
    <h3 class="toggler">Source</h3>
    <div>
        <div><strong>Episode</strong> 1401</div>
        <div><strong>Series</strong> Say Brother</div>

      <div class="source-credits">
      </div>
    </div>


  </div>   


  <div class="description">
    <h3 class="toggler">Description</h3>
    <div>
      <div>
          <div class="pbcore-description-block pbcore-description-program"><strong>Program</strong> <resource_link res="MLA001124">Pianist Randy Weston performs "The Healers"</resource_link> Say Brother celebrates its 15th anniversary as WGBH's longest running target audience program with a special "gala" broadcast from three locations in Boston: the Museum of the National Center of Afro-American Artists, WGBH TV, and the Elma Lewis School of Fine Arts. With hosts Jim Spruill, Beth Deare, and Tanya Hart (each at a separate location); entertainers Randy Weston, Webster Lewis, Noel Pointer, Kamal Scott, the Fred Benjamin Dancers (from New York City), the current cast of the Next Move Theatre's "All Night Strut" and Michael Smart and Naomi Moody of a Boston production of "Porgy and Bess"; guests David Atwood, Hazel Bright, Gloria Fox, Barry Gaither, Elma Lewis, Jean McGuire, Carmen McRae, Karl Nurse, Dan Richardson, Marita Rivero, and Sarah-Ann Shaw; special segments ("Happy Birthday" inserts, an "insider" look at Webster Lewis' studio production of a recording by Robert Guillaume, previously aired interview footage with WGBH President David O. Ives, and the presentation of Say Brother's First Annual Awards).</div>
          <div class="pbcore-description-block pbcore-description-series"><strong>Series</strong> Say Brother is WGBH's longest running public affairs television program by, for and about African Americans, and is now known as Basic Black. Since its inception in 1968, Say Brother has featured the voices of both locally and nationally known African American artists, athletes, performers, politicians, professionals, and writers including: Muhammad Ali, Maya Angelou, Thomas Atkins, Amiri Baraka, Doris Bunte, Julian Bond, Stokely Carmichael, Louis Farrakhan, Nikki Giovanni, Odetta Gordon, Henry Hampton, Benjamin Hooks, Jesse Jackson, Hubie Jones, Mel King, Eartha Kitt, Elma Lewis, Haki Madhubuti, Wallace D. Muhammad, Charles Ogletree, Byron Rushing, Owusu Sadaukai, and Sonia Sanchez.</div>
      </div>
    

  </div>
  </div>






      <hr>
  <div class="date">   
  <div><strong>Date Covered</strong>

  <ul>
          <li><a href="/catalog?q=09%2F29%2F1983">09/29/1983</a></li>
  </ul>
  </div>
  </div>
        
  <div class="people">
  <div>
  <div><strong>Associate Producer</strong>
  <ul>
  <li><a href="/catalog?q=Host+Beth+Deare+Tanya+Hart+Raquel+Ortiz+Jim+Spruill+Guests+David+Atwood+Sandy+Bagley+Hazel+Bright+Gloria+Fox+Barry+Gaither+Melvin+Gilmore+Kevin+Grimes+Robert+Guillaume+Janet+Langhart+Mark+Ledford+David+Lee+Elma+Lewis+Lita+Lugo+Gene+McGuire+Carmen+McRae+Glendora+Putnam%2C+Dan+Richardson+Marita+Rivero+Betty+Woody+Performers+Webster+Lewis+%28musician%29+Noel+Pointer+%28musician%29+Joey+Richardson+%28dancer%29+Randy+Weston+%28musician%29+Formats+Master+%28WGBH+program%29+1%22+videotape+A1-05989+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+Original+footage+3%2F4%22+cassette+%28item+number+not+yet+assigned%29+The+Say+Brother+Collection+Web+site+is+a+production+of+the+WGBH+Archives+.+%C2%A92001+WGBH+Educational+Foundation+.">Host Beth Deare Tanya Hart Raquel Ortiz Jim Spruill Guests David Atwood Sandy Bagley Hazel Bright Gloria Fox Barry Gaither Melvin Gilmore Kevin Grimes Robert Guillaume Janet Langhart Mark Ledford David Lee Elma Lewis Lita Lugo Gene McGuire Carmen McRae Glendora Putnam, Dan Richardson Marita Rivero Betty Woody Performers Webster Lewis (musician) Noel Pointer (musician) Joey Richardson (dancer) Randy Weston (musician) Formats Master (WGBH program) 1" videotape A1-05989 Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) Original footage 3/4" cassette (item number not yet assigned) The Say Brother Collection Web site is a production of the WGBH Archives . ©2001 WGBH Educational Foundation .</a></li>
  </ul>
  </div>
  <div><strong>Host</strong>
  <ul>
  <li><a href="/catalog?q=Deare%2C+Beth">Deare, Beth</a></li>
  <li><a href="/catalog?q=Hart%2C+Tanya">Hart, Tanya</a></li>
  <li><a href="/catalog?q=Ortiz%2C+Raquel">Ortiz, Raquel</a></li>
  <li><a href="/catalog?q=Spruill%2C+Jim">Spruill, Jim</a></li>
  </ul>
  </div>
  <div><strong>Subject</strong>
  <ul>
  <li><a href="/catalog?q=Atwood%2C+David">Atwood, David</a></li>
  <li><a href="/catalog?q=Bagley%2C+Sandy">Bagley, Sandy</a></li>
  <li><a href="/catalog?q=Barrow-Murray%2C+Barbara">Barrow-Murray, Barbara</a></li>
  <li><a href="/catalog?q=Bright%2C+Hazel">Bright, Hazel</a></li>
  <li><a href="/catalog?q=Deare%2C+Beth">Deare, Beth</a></li>
  <li><a href="/catalog?q=Deare%2C+Paul">Deare, Paul</a></li>
  <li><a href="/catalog?q=Fox%2C+Gloria">Fox, Gloria</a></li>
  <li><a href="/catalog?q=Gaither%2C+Barry">Gaither, Barry</a></li>
  <li><a href="/catalog?q=Gilmore%2C+Marvin">Gilmore, Marvin</a></li>
  <li><a href="/catalog?q=Grimes%2C+Kevin">Grimes, Kevin</a></li>
  <li><a href="/catalog?q=Guillaume%2C+Robert">Guillaume, Robert</a></li>
  <li><a href="/catalog?q=Hart%2C+Tanya">Hart, Tanya</a></li>
  <li><a href="/catalog?q=Langhart%2C+Janet">Langhart, Janet</a></li>
  <li><a href="/catalog?q=Ledford%2C+Mark">Ledford, Mark</a></li>
  <li><a href="/catalog?q=Lee%2C+David">Lee, David</a></li>
  <li><a href="/catalog?q=Lewis%2C+Elma">Lewis, Elma</a></li>
  <li><a href="/catalog?q=Lewis%2C+Webster">Lewis, Webster</a></li>
  <li><a href="/catalog?q=Lugo%2C+Lita">Lugo, Lita</a></li>
  <li><a href="/catalog?q=McGuire%2C+Jean">McGuire, Jean</a></li>
  <li><a href="/catalog?q=McRae%2C+Carmen">McRae, Carmen</a></li>
  <li><a href="/catalog?q=Nurse%2C+Karl">Nurse, Karl</a></li>
  <li><a href="/catalog?q=Ortiz%2C+Raquel">Ortiz, Raquel</a></li>
  <li><a href="/catalog?q=Osborne%2C+Michael">Osborne, Michael</a></li>
  <li><a href="/catalog?q=Pointer%2C+Noel">Pointer, Noel</a></li>
  <li><a href="/catalog?q=Putnam%2C+Glendora">Putnam, Glendora</a></li>
  <li><a href="/catalog?q=Richardson%2C+Dan">Richardson, Dan</a></li>
  <li><a href="/catalog?q=Richardson%2C+Joey">Richardson, Joey</a></li>
  <li><a href="/catalog?q=Rivero%2C+Marita">Rivero, Marita</a></li>
  <li><a href="/catalog?q=Ross%2C+John">Ross, John</a></li>
  <li><a href="/catalog?q=Scott%2C+Kamal">Scott, Kamal</a></li>
  <li><a href="/catalog?q=Shaw%2C+Sarah-Ann">Shaw, Sarah-Ann</a></li>
  <li><a href="/catalog?q=Spruill%2C+Jim">Spruill, Jim</a></li>
  <li><a href="/catalog?q=Weston%2C+Randy">Weston, Randy</a></li>
  <li><a href="/catalog?q=Woody%2C+Betty">Woody, Betty</a></li>
  </ul>
  </div>
  </div>
           </div>
  </div>

          
          
          
        </div>

        <div class="administrative">
        
        </div>

      </div>
    </div>
  <!-- <div id="doc_<%#= @document[:id] %>">
  
      <% # bookmark/folder functions -%>
      <%#= render_show_doc_actions @document %>
        

    <%#= render_document_heading %>
    <div class="tools"><%#= render :partial => 'show_tools' %></div>
    <hr />
    <div class="document">
      <%#= render_document_partial @document, :show %>
      <%#= render_document_unapi_microformat @document %>
    <hr />
      <div class="media">
        <%#= render_document_partial @document, :media %>
      </div>

      <div class="metadata">
        <%# @document.get(:disseminates_s, :sep => nil).each do |f| %>
          <%#= 
              begin
                render :partial => "catalog/_metadata_partials/#{f.parameterize('_').gsub('-', '_')}", :locals => { :document => @document }
              rescue ActionView::MissingTemplate

              end
              %>
        <%# end %>
      </div>

      <div class="administrative">
        <%#= render_document_partial @document, :administrative %>
      </div>

    </div>
  </div> -->
</div>

  <%# if @document.respond_to?(:export_as_openurl_ctx_kev) %>
    <!-- 
         // COinS, for Zotero among others. 
         // This document_partial_name(@document) business is not quite right,
         // but has been there for a while. 
    -->
    <span class="Z3988" title="<%#= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <%# end %>
