<h3><%= @document.title %></h3>
<p><strong>Summary: </strong><%= @document.summary %></p>
<!-- List the audio/video files associated with program -->
<% @document.media.each do |media| %>
  <% if media.is_audio? %>
    <%= render :partial, 'catalog/_program_partials/audio' %>
  <% else %>
    <%= render :partial, 'catalog/_program_partials/video' %>
  <% end %>
<% end %>