<% if @ov_asset.programs.present? %>
  <div class="programs-list">
    <h4>Programs in this series</h4>  
    <ul>
      <% @ov_asset.programs.each do |program| %>
        <li><%= link_to program.title, catalog_path(program.id) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
