<% if @ov_asset.videos.present? %>
  <div class="video-list">
    <h4>Videos in this series</h4>
    <ul>
      <% @ov_asset.videos.each do |video| %>
        <li><%= link_to video.title, "/video/#{video.id}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
