<h2><%= display_title @document %></h2>
<%= display_summary @document %>
<hr />
<h3>Video Transcript</h3>
<%= render_tei_transcript('/Users/Shared/web-applications/wgbh/app/assets/images/transcript_xml_sample.xml') %>
<hr />
<center><p>&copy;Copyright 2013 WGBH Educational Foundation. All rights reserved.</p></center>