<div class="datastream primary-datastream datastream-video datastream-video-mp4">
  <%= render_video_player(datastream_url(document.fedora_object.datastream["Video.mp4"]), :size => "320x240", :controls => true, :poster => document.thumbnail.url(:style => :poster)) %>
</div>           
<div class="media_fragment_template">
  <%= render :partial => "comments/media_fragment" %>
</div>
