@import "mosaic";

body {
  background-color: #4282B2;
  padding: {
    top: 0px;
  }
}


#main-container {
  margin-top: 20px;
}

#search-bar {
  color: #ffffff;
  background: {
    color: #ff9e25;
  }
  padding: 20px;
  height: 20px;
}

#ov-logo-home {
  text-indent: -3000px;
  width: 396px;
  height: 63px;
  background-image: url(/assets/ov_logo.png);
}

#mla-logo {
  text-indent: -3000px;
  background-image: url(/assets/wgbh_mla.png);
  width: 185px;
  height: 36px;
}


#footer {
  // all text in the footer should be white
  * {
    color: white;
  }

  font-size: 0.9em;

  ul, li {
    list-style: none;
    display: inline-block;
  }

  li {
    margin-right:  0.3em;

    &:after {
       padding-left: 0.3em;
       content: " | ";
    }

    &:last-of-type:after {
       content: "";
    }
  }
}