

body {
	background-image: url(/assets/background.jpg);
	background-color: #3076aa;
	background-position: center 0;
	min-width: 991px;
	background-repeat: no-repeat;
	height: 100%;
  padding: {
    top: 0px;
  }
}

#main-container {
	line-height: 1.5;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #333;
	font-size: 75%;
	font-size: 11px;
//  width: 100%;
}
//
//#outer-container{
//	width: 100%;
//	margin: 0 auto;
//}
p {
	font-size: inherit;
}

.span12{
	width: 100%;
}

.row-content{
   max-width: 980px;
}

#mosaic-container {
	margin-top: -82px;
	padding-top: 82px;
	background-color: #11629e;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003366), color-stop(100%, #025a97));
	background-image: -webkit-linear-gradient(top, #003366,#025a97);
	background-image: -moz-linear-gradient(top, #003366,#025a97);
	background-image: -o-linear-gradient(top, #003366,#025a97);
	background-image: -ms-linear-gradient(top, #003366,#025a97);
	background-image: linear-gradient(top, #003366,#025a97);
	height: 297px;
}
.mosaic-row{
	background-color: #11629e;
	background-image: -webkit-linear-gradient(top, #003366 0%, #025a97 80%);
}
#header {
	margin-bottom: 15px;
	position: relative;
}
#header_top{
	background-image: url('/assets/OV_logo_shadow_home.png');
	background-repeat: no-repeat;
	padding-top: 29px;
}

.action_links {
	a {
		color: #fff;
	}
}

#search-bar {
  color: #ffffff;
  background: {
    color: #ff9e25;
  }
  padding: 14px;
  height: 21px;
	.search-query-form {
		float:left;
		input.search_q {
			width: 163px;
			height: 11px;
			font-size: 13px;
			padding-right: 20px;
		}
		button.search-btn {
			background: none;
			border: none;
			margin-left: -24px;
			color: #000;
			position: relative;
		}
	}
	#browse {
		float: right;
		label {
			float: left;
			margin-right: 10px;
		}
		select {
			width: 175px;
			height: 21px;
		}
	}
}
.blacklight-collections, .blacklight-catalog {
	#ov-logo-home {
		text-indent: -3000px;
		width: 246px;
		height: 31px;
		background-image: url(/assets/openvault.png);
		background-repeat: no-repeat;
	}
}
.blacklight-catalog-home {
	#ov-logo-home {
	  text-indent: -3000px;
	  width: 396px;
	  height: 63px;
	  background-image: url(/assets/ov_logo.png);
	}
}

#mla-logo {
  text-indent: -3000px;
  background-image: url(/assets/wgbh_mla.png);
  width: 185px;
  height: 36px;
}

#bd {
	line-height: 1.5;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #333;
	font-size: 75%;
	font-size: 11px;
	margin-top: 20px;
	.panel {
	  h2 {
		  background-color: #11629e;
		  color: white;
		  text-transform: uppercase;
		  width: auto;
		  padding-top: 0.648em;
		  padding-bottom: 0.648em;
		  padding-left: 18.5px;
		  margin-bottom: 0.648em;
		  font-size: 11px;
		  line-height: 1.5em;
			margin-top:0px;
	  }
	  .see_all {
		  float: right;
		  color: white;
		  line-height: 30px;
		  padding-right: 9.25px;
	  }
		h3 {
			padding: 0;
			margin: 0;
		}
		a, h3 {
			line-height: inherit;
			font-size: inherit;
		}
	}

	#collections, #blog {
	  @extend .panel;
	}

	#collections {
		position: relative;
		display: inline;
		float: left;
		margin-right: 8px;
		width: 100%;
		background-color: #fff;
		min-height: 383px;

	  img {
	    width: 100%;
			margin-bottom: 0.648em;
	    //@include margin-trailer(0.5);
	  }

	  .document {
			padding-left: 9.25px;
			padding-right: 9.25px;
			padding-bottom: 0.648em;
	    display: none;
			min-height: 428px;
			h3 {
				font-size: inherit;
				margin: 0px;
				line-height: inherit;
				a {
					font-size: inherit;
				}
			}
	  }

	  .document:first-of-type {
	    display: block;
	  }

	  .pagination {
	    float: right;
	    text-align: inherit;
	    margin-top: 7px;
			padding-right: 18.5px;
			margin-bottom: 0px;
	    .page {
	      text-indent: -9999px;
	      display: inline-block;
	      width: 11px;
	      line-height: 12px;
	      height: 9px;
	      margin-right: 2px;
	      background-color: #5f8eb1;

	      &:hover, &.active {
	        background-color: #33ccff;
	      }
	    }

	    .play, .pause {
	      display: inline-block;
	      margin-right: 7px;  
	      line-height: 20px !important;
	    }

	    .play {
	        @include replace-text-with-dimensions('collection_play.png');
	        &:hover {
	          @include replace-text-with-dimensions('collection_play_over.png');
	        }
	    }
	
	    .pause {
	        @include replace-text-with-dimensions('collection_pause.png');
	        &:hover {
	          @include replace-text-with-dimensions('collection_pause_over.png');
	        }
	    }
	  }
	}
  #blog {
		position: relative;
		display: inline;
		float: left;
		margin-right: 0;
		width: 100%;
		background-color: #fff;
    .post {
			display: inline;
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
			padding-left: 10px;
			box-sizing: border-box;
			margin-bottom: 8px;
      &:last-of-type {
        border-bottom: none;
      }
    }

    .byline {
			display: inline;
			float: left;
       .thumbnail img {
         max-width: 100px;
       }
    }

    .body {
			display: inline;
			float: left;
    }
  }
}

.footer_container {
	margin-top: 20px;
	#footer {
	  // all text in the footer should be white
	  * {
	    color: white;
	  }

	  font-size: 0.9em;
		.footer_links {
			text-align: center;
		  .footer_link {
		    margin-right:  0.3em;
				display: inline-block;
		    &:after {
		       padding-left: 0.3em;
		       content: " | ";
		    }

		    &:last-of-type:after {
		       content: "";
		    }
		  }
		}
		.copyright {
			margin-top: 10px;
			text-align: center;
		}
	}
}
#content {
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	min-height: 450px;
	background-color: #FFF;
	padding: 20px 37px 2.591em 18.5px;
	border: 1px solid #CCC;
	box-sizing: border-box;
	.field_with_errors {
		input {
			border: 2px solid #c00;
		}
		label {
			color: #c00;
			font-weight: bold;
		}
	}
	#error_explanation {
		h2 {
			font-size: 20px;
		}
	}
	.no-margin {
		margin: 0;
	}
}

.blacklight-collections-index  {
	.document {
		display: inline;
		float: left;
		margin-right: 8px;
		width: 695px;
		border-bottom: 1px solid #CCC;
		margin-top: 0.648em;
		margin-bottom: 0.324em;
		padding-bottom: 0.648em;
		min-height: 100px;
		position: relative;
	}
	.blacklight-collection {
		display: inline;
		float: left;
		margin-right: 8px;
		width: 140px;
		border: none;
		min-height: 2em;
		height: 250px;
		clear:none;
		.thumbnail {
			border: none;
			box-shadow: none;
			border-radius: none;
			img {
				height: 90px;
			}
		}
		.index_title {
			font-size: inherit;
			float: none;
			line-height: inherit;
			display: inline;
			margin: 0 0px 1.5em 0px;
			float: none;
			margin: 0;
			display: block;
			margin-top: 0.259em;
			a {
				font-weight: bold;
			}
		}
	}
}

.blacklight-collections-show {
	#sidebar {
		h2 {
			padding-top: 1.295em;
			padding-bottom: 0.907em;
			color: white;
			font-size: inherit;
			line-height: inherit;
			text-align:center;
			text-transform: uppercase;
			background-color: #8a8e90;
			margin-bottom: 1.295em;
			margin-top: 0px;
			-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
			-o-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
		}
		.related-content {
		  .mlt {
				margin-bottom: 1.295em;
				-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
				-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
				-o-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
				box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
		    padding: 10px;
		    background-color: #fff;
		    line-height: 14px;

		    a {
		      font-weight: bold;
		      display: block;
		      margin-bottom: 0.324em;
		    }
		    .thumbnail {
		      margin-bottom: 0.648em;
					img {
						border: none;
						border-radius: none;
					}
		    }
		  }
		}
	}	
}