<div class="span8 datastream primary-datastream datastream-video datastream-video-mp4">
  <%= render partial: 'programs/partials/video' %>
</div>
<div id="transcript-box" class="span4 secondary-datastream-container">
  <%= render partial: 'programs/partials/transcript' %>
</div>