<% if @item.videos.first.transcripts.present? %>
  <% @item.videos.first.transcripts.each do |transcript| %>    
  <div id="transcript-box" class="span4 secondary-datastream-container">
    <h2>Transcript</h2>
    <div class="datastream-actions">
      <%= link_to "<i class='icon-print'></i>".html_safe, "/programs/#{@document[:slug]}/print", :class => "print action", :target => "_blank" %>
      <form action="#" method="GET" class="q_field datastream-action-search">
        <%= text_field_tag :q, nil, :class => "q", :placeholder => "Search Transcript" %>
        <%= image_submit_tag("/assets/magnifying-glass.gif", :alt => "Search Transcript", :class => 'submit') %>
    
      </form>
    </div>
    <div class="datastream secondary-datastream datastream-transcript datastream-transcript-tei-xml">
      <%= transcript.tei %>
      <!-- This is a sample transcript hard-coded for testing -->
      <%#= render_tei_transcript('/Users/Shared/web-applications/wgbh/app/assets/images/transcript_xml_sample.xml') %>
    </div>
  </div>
  <% end %>
<% end %>
