<style>
/* This is just placeholder style. Delete it after mosaic is developed out. */
#carousel {
  border: solid #aaaaaa 1px;
  background: #888888;
}
</style>

<div id="carousel">
  <h1>Carousel</h1>
</div>