<div id="footer">
  <ul>
    <li><a href="/">Home</a></li> 
    <li><a href="/blog/about/">About Us</a></li> 
    <li><a href="/blog">Blog</a></li> 
    <li><a href="/collections">Collections and Series</a></li> 
    <li><a href="/blog/contact-us/">Contact Us</a></li> 
    <li><a href="/blog/help/">Help</a></li> 
    <li><a href="/blog/credits/">Credits</a></li> 
    <li><a href="/blog/privacy-policy/">Privacy Policy</a></li> 
    <li><a href="/blog/terms-and-conditions/">Terms and Conditions</a></li> 
    <li><a href="/blog/visiting-the-archives/">Visiting the Archives</a></li> 
  </ul>
  <div>Copyright 2011 WGBH Educational Foundation. All rights reserved.</div>
</div>
  