<style>
/* This is just placeholder style. Delete it after mosaic is developed out. */
#mosaic {
  border: solid #aaaaaa 1px;
  background: #888888;
}
</style>

<div id="mosaic">
  <h1>Mosaic</h1>
</div>