<div class="image-list">
  <h4>Images in this series</h4>
  <% if @item.images.empty? %>
    <p>Currently we do not have any images available for this series.</p>
  <% else %>
    <ul>
      <% @item.images.each do |image| %>
        <li><%= link_to image.title, "/image/#{image.id}" %></li>
      <% end %>
    </ul>
  <% end %>
</div>