<div id="footer_inner">
  <div class="footer_links">
    <span class="footer_link"><a  href="/">Home</a></span>  |
    <span class="footer_link"><a  href="/about/">About Us</a></span>  |
    <span class="footer_link"><a  href="http://blog.openvault.wgbh.org">Blog</a></span>  |
    <span class="footer_link"><a  href="/collections">Collections and Series</a></span>  |
    <span class="footer_link"><a  href="/contact-us/">Contact Us</a></span>  |
    <span class="footer_link"><a  href="/help/">Help</a></span>  |
    <span class="footer_link"><a  href="/credits/">Credits</a></span>  |
    <span class="footer_link"><a  href="/privacy-policy/">Privacy Policy</a></span>  |
    <span class="footer_link"><a  href="/terms-and-conditions/">Terms and Conditions</a></span>  |
    <span class="footer_link"><a  href="/visiting-the-archives/">Visiting the Archives</a></span> 
  </div>
  <div class="copyright">Copyright <%= Time.new.year %> WGBH Educational Foundation. All rights reserved.</div>
</div>