<div id="footer_inner">
  <div class="footer_links">
    <span class="footer_link"><a  href="/">Home</a></span>  |
    <span class="footer_link"><a  href="/blog/about/">About Us</a></span>  |
    <span class="footer_link"><a  href="/blog">Blog</a></span>  |
    <span class="footer_link"><a  href="/collections">Collections and Series</a></span>  |
    <span class="footer_link"><a  href="/blog/contact-us/">Contact Us</a></span>  |
    <span class="footer_link"><a  href="/blog/help/">Help</a></span>  |
    <span class="footer_link"><a  href="/blog/credits/">Credits</a></span>  |
    <span class="footer_link"><a  href="/blog/privacy-policy/">Privacy Policy</a></span>  |
    <span class="footer_link"><a  href="/blog/terms-and-conditions/">Terms and Conditions</a></span>  |
    <span class="footer_link"><a  href="/blog/visiting-the-archives/">Visiting the Archives</a></span> 
  </div>
  <div class="copyright">Copyright <%= Time.new.year %> WGBH Educational Foundation. All rights reserved.</div>
</div>