<ul id="menu-footer" class="menu"><li id="menu-item-560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-560"><a href="http://openvault.wgbh.org/">Home</a></li> 
<li id="menu-item-561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-561"><a href="http://openvault.wgbh.org/blog/about/">About Us</a></li> 
<li id="menu-item-674" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-674"><a href="http://openvault.wgbh.org/blog">Blog</a></li> 
<li id="menu-item-675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-675"><a href="http://openvault.wgbh.org/collections">Collections and Series</a></li> 
<li id="menu-item-562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562"><a href="http://openvault.wgbh.org/blog/contact-us/">Contact Us</a></li> 
<li id="menu-item-563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-563"><a href="http://openvault.wgbh.org/blog/help/">Help</a></li> 
<li id="menu-item-564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-564"><a href="http://openvault.wgbh.org/blog/credits/">Credits</a></li> 
<li id="menu-item-565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565"><a href="http://openvault.wgbh.org/blog/privacy-policy/">Privacy Policy</a></li> 
<li id="menu-item-566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-566"><a href="http://openvault.wgbh.org/blog/terms-and-conditions/">Terms and Conditions</a></li> 
<li id="menu-item-567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-567"><a href="http://openvault.wgbh.org/blog/visiting-the-archives/">Visiting the Archives</a></li> 
</ul>
